.avatar {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
  }

  @media (prefers-color-scheme: dark) {
    border: 2px solid var(--background-color-inverted);
  }
}
