:root {
  --lighter-grey: #f6f6f6;
  --lighter-grey-2: #ddd;
  --light-grey: #7D7B90;
  --dark-grey: #343245;
  --white: #fff;
  --deep-champagne: #ffcf99;
  --yellow:  #F9F871;
  --light-purple: #7D84FF;
  --cyan: #00C6CA;
  --dark-cyan: #1E8C8D;
  --blue:  rgba(0, 102, 255, 0.5);
}
