@media (max-width: 1000px) {
  .tpl-component-catalog-menu {
    padding-top: 26px; } }

@media (max-width: 750px) {
  .tpl-component-catalog-menu {
    margin-bottom: 24px; } }

@media (max-width: 400px) {
  .tpl-component-catalog-menu {
    margin-bottom: 0px; }
    .tpl-component-catalog-menu .catalog-menu-title {
      font-size: 11px; } }
