
<div class="tpl-component-catalog-menu">
  <div class="catalog-menu-items catalog-menu-items--noArrow link link--primary"> <a class="catalog-menu-title js-open-catalog-btn js-close-filter-btn" href="#">Все товары для гостиной </a></div>
  <div class="catalog-menu-items js-open-catalog-menu"> 
    <div class="catalog-menu-title js-open-catalog-btn">Мебель</div>
    <div class="catalog-menu-options"><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a></div>
  </div>
  <div class="catalog-menu-items active js-open-catalog-menu">
    <div class="catalog-menu-title js-open-catalog-btn">Декор</div>
    <div class="catalog-menu-options"><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a></div>
  </div>
  <div class="catalog-menu-items js-open-catalog-menu"> 
    <div class="catalog-menu-title js-open-catalog-btn">Текстиль</div>
    <div class="catalog-menu-options"><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a></div>
  </div>
  <div class="catalog-menu-items js-open-catalog-menu"> 
    <div class="catalog-menu-title js-open-catalog-btn">Ковры </div>
    <div class="catalog-menu-options"><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a></div>
  </div>
  <div class="catalog-menu-items js-open-catalog-menu"> 
    <div class="catalog-menu-title js-open-catalog-btn">Освещение</div>
    <div class="catalog-menu-options"><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a><a class="catalog-menu-item link link--primary" href="#">Вазы, кашпо и корзины</a><a class="catalog-menu-item link link--primary" href="#">Зеркала и картины</a></div>
  </div>
</div>