
<div class="tpl-component-footer">
  <div class="block-content flex-container">
    <div class="footer-info">
      <div class="footer-logo"><img src="img/logo.png"/></div>
      <div class="footer-copyright">© 2005 ООО Компания</div>
      <div class="footer-contact">
        <div class="footer-phone footer-contact-item"><a class="link link--secondary" href="tel:+79000000609">+7 900 000-06-09</a>, <a class="link link--secondary" href="tel:+79608000299">+7 960 800-02-99  </a></div><a class="footer-email footer-contact-item link link--secondary" href="mailto:netcatstore@gmail.com">netcatstore@gmail.com</a>
        <div class="footer-address footer-contact-item">900600 Россия <br/>г. Москва, Конфетный пер.,  д. 166, оф. 205</div>
      </div>
    </div>
    <div class="footer-main">
      <div class="footer-category">
        <div class="footer-title">коллекции </div>
        <ul class="footer-items">
          <li><a class="footer-item link link--secondary" href="#">Для кухни</a></li>
          <li><a class="footer-item link link--secondary" href="#">Для гостиной </a></li>
          <li><a class="footer-item link link--secondary" href="#">Для спальни </a></li>
          <li><a class="footer-item link link--secondary" href="#">Для прихожей </a></li>
          <li><a class="footer-item link link--secondary" href="#">Для ванной</a></li>
          <li><a class="footer-item link link--secondary" href="#">Для лоджий</a></li>
        </ul>
      </div>
      <div class="footer-category">
        <div class="footer-title">поддержка</div>
        <ul class="footer-items">
          <li><a class="footer-item link link--secondary" href="#">Доставка</a></li>
          <li><a class="footer-item link link--secondary" href="#">Возврат</a></li>
          <li><a class="footer-item link link--secondary" href="#">Как сделать заказ</a></li>
          <li><a class="footer-item link link--secondary" href="#">Подарочные карты  </a></li>
        </ul>
      </div>
      <div class="footer-category footer-additional">
        <ul class="footer-items">
          <li><a class="link link--secondary footer-item" href="#">Магазины сети                           </a></li>
          <li><a class="link link--secondary footer-item" href="#">Блог</a></li>
          <li><a class="link link--secondary footer-item" href="#">О нас</a></li>
          <li><a class="link link--secondary footer-item" href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-netcat">Сделано с <a class="footer-netcat-link link link--orange link--noUnderline" href="#">Неткэтом</a></div>
  </div>
</div>