@media (max-width: 740px) {
  .tpl-component-quick-order-popup .popup-content-wrap {
    width: 320px; }
  .tpl-component-quick-order-popup .popup-content-inner--big {
    padding: 28px 30px 43px; }
  .tpl-component-quick-order-popup .popup-content-info {
    padding-left: 20px; }
  .tpl-component-quick-order-popup .popup-content-label {
    margin-left: 0;
    margin-bottom: 10px; }
  .tpl-component-quick-order-popup .popup-content-item {
    padding-top: 25px; } }
