
<div class="tpl-component-quick-order-popup js-popup" id="quickOrderPopup">
  <div class="popup">
    <div class="popup-content-wrap">
      <div class="popup-content">
        <div class="popup-content-inner popup-content-inner--big js-popup-inner"><a class="popup-content-close js-popup-close" href="#">  </a>
          <form class="popup-content-text">
            <div class="popup-content-header">Быстрый заказ  </div>
            <div class="popup-content-caption">Покупайте без регистрации! Укажите свой номер телефона и менеджер свяжется с вами для уточнения деталей заказа </div><a class="popup-content-item" href="#">
              <div class="popup-content-image" style="background-image:url(img/products/product-small-1.png);"> </div>
              <div class="popup-content-info">
                <div class="popup-content-name">Ханна  </div>
                <div class="popup-content-desc">Ваза с узким горлышком</div><span class="popup-content-quantity"> <span>1 </span>х  </span><span class="popup-content-price">
                  15 000 руб.</span>
              </div></a>
            <div class="popup-content-inputs">
              <label class="popup-content-label popup-content-label--email">
                <input class="input input--border popup-content-input popup-content-input--name" placeholder="Как к вам обращаться" name="name"/><span class="popup-content-label-icon"></span>
              </label>
              <label class="popup-content-label popup-content-label--phone">
                <input class="input input--border popup-content-input popup-content-input--phone" placeholder="Ваш телефон" name="phone"/><span class="popup-content-label-icon"></span>
              </label>
            </div>
            <div class="popup-content-buttons">
              <button class="button button--form" type="submit">Оформить заказ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>