
<div class="tpl-component-catalog-filter js-filter-menu">
  <div class="catalog-filter-form">
    <div class="catalog-filter-content">
      <div class="catalog-filter-header js-show-filter-menu-btn">Фильтр</div>
      <div class="catalog-filter-items catalog-filter-items catalog-filter-items--noArrow js-open-catalog-menu catalog-filter-items--price">
        <div class="catalog-filter-title">цена</div>
        <div class="catalog-filter-inputs">
          <input class="catalog-filter-input input input--square js-price-min" placeholder="40"/><span class="catalog-filter-divider"> – </span>
          <input class="catalog-filter-input input input--square js-price-max" placeholder="11000"/><span class="catalog-filter-currency">руб.</span>
        </div>
      </div>
      <div class="catalog-filter-items js-open-catalog-menu js-open-filter hidden-mobile"> 
        <div class="catalog-filter-title js-open-catalog-btn">Страна-производитель</div>
        <div class="catalog-filter-options js-filter-options">
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name="" checked="checked"/><span class="checkbox-label">Россия</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name="" checked="checked"/><span class="checkbox-label">Австрия</span>
            </label>
          </div><span class="catalog-filter-close js-close-filter"></span>
        </div>
      </div>
      <div class="catalog-filter-items js-open-catalog-menu js-open-filter hidden-mobile"> 
        <div class="catalog-filter-title js-open-catalog-btn">Цвет</div>
        <div class="catalog-filter-options js-filter-options">
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Бежевый</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Белый</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Охра</span>
            </label>
          </div><span class="catalog-filter-close js-close-filter"></span>
        </div>
      </div>
      <div class="catalog-filter-items js-open-catalog-menu js-open-filter hidden-mobile"> 
        <div class="catalog-filter-title js-open-catalog-btn">Бренд</div>
        <div class="catalog-filter-options js-filter-options">
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Бежевый</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Белый</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Охра</span>
            </label>
          </div><span class="catalog-filter-close js-close-filter"></span>
        </div>
      </div>
      <div class="catalog-filter-items js-open-catalog-menu js-open-filter hidden-mobile">  
        <div class="catalog-filter-title js-open-catalog-btn">материал</div>
        <div class="catalog-filter-options js-filter-options">
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Бежевый</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Белый</span>
            </label>
          </div>
          <div class="catalog-filter-checkbox checkbox">
            <label class="checkbox-item">
              <input class="checkbox-input js-filter-checkbox" type="checkbox" value="None" name=""/><span class="checkbox-label">Охра</span>
            </label>
          </div><span class="catalog-filter-close js-close-filter"></span>
        </div>
      </div>
    </div>
    <div class="catalog-filter-buttons">
      <div class="catalog-filter-reset js-filter-reset">Сбросить фильтры </div>
    </div>
  </div>
</div>