.tpl-component-catalog-filter {
  padding: 6px 0px;
  margin-top: 37px;
  border-top: 1px solid var(--color-bg-19); }
  .tpl-component-catalog-filter .catalog-filter-items.active .catalog-filter-title {
    color: var(--color-font-5); }
    .tpl-component-catalog-filter .catalog-filter-items.active .catalog-filter-title:before {
      transform: rotate(-180deg);
      color: var(--color-font-5);
      transition: transform 0.2s; }
  .tpl-component-catalog-filter .catalog-filter-items.active .catalog-filter-options {
    display: block; }
  .tpl-component-catalog-filter .catalog-filter-close {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 40px;
    width: 40px;
    z-index: 220;
    cursor: pointer; }
    .tpl-component-catalog-filter .catalog-filter-close:before {
      content: '\004d';
      font-family: var(--icons-elegant);
      position: absolute;
      color: var(--color-font-7);
      top: 8px;
      left: -2px;
      font-size: 26px;
      line-height: 30px; }
    .tpl-component-catalog-filter .catalog-filter-close:hover:before, .tpl-component-catalog-filter .catalog-filter-close:active:before {
      color: var(--color-font-5);
      transition: all 0.2s; }
  .tpl-component-catalog-filter .catalog-filter-header {
    display: none;
    font-size: 12px;
    line-height: 20px;
    font-family: var(--font-2);
    color: var(--color-font-1);
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin: 26px 0 0;
    cursor: pointer;
    max-width: 300px;
    width: auto; }
    .tpl-component-catalog-filter .catalog-filter-header:hover, .tpl-component-catalog-filter .catalog-filter-header:active {
      color: var(--color-font-8); }
      .tpl-component-catalog-filter .catalog-filter-header:hover:before, .tpl-component-catalog-filter .catalog-filter-header:active:before {
        color: var(--color-font-8); }
    .tpl-component-catalog-filter .catalog-filter-header:before {
      position: absolute;
      content: '\33';
      right: -24px;
      top: 0;
      font-family: var(--icons-elegant);
      color: var(--color-font-1);
      font-size: 18px;
      font-weight: 400; }
  .tpl-component-catalog-filter .catalog-filter-items {
    padding-left: 24px; }
    .tpl-component-catalog-filter .catalog-filter-items--noArrow .catalog-filter-title:before {
      display: none; }
    .tpl-component-catalog-filter .catalog-filter-items .checkbox {
      max-width: 208px;
      padding: 2px 0px 2px; }
      .tpl-component-catalog-filter .catalog-filter-items .checkbox.showNumber {
        display: none; }
        .tpl-component-catalog-filter .catalog-filter-items .checkbox.showNumber .checkbox-label {
          display: block;
          background-color: var(--color-bg-20); }
          .tpl-component-catalog-filter .catalog-filter-items .checkbox.showNumber .checkbox-label:after {
            content: "\4d";
            position: absolute;
            top: 3px;
            right: 7px;
            font-family: var(--icons-elegant);
            color: var(--color-font-10); }
      .tpl-component-catalog-filter .catalog-filter-items .checkbox:last-child {
        padding-bottom: 0px;
        margin-bottom: 57px; }
      .tpl-component-catalog-filter .catalog-filter-items .checkbox-label {
        font-family: var(--font-4);
        font-size: 14px;
        line-height: 22px;
        color: var(--color-font-1);
        text-transform: none;
        font-weight: 400;
        padding: 4px 8px 5px;
        background-color: 0;
        width: 100%;
        position: relative;
        cursor: pointer; }
        .tpl-component-catalog-filter .catalog-filter-items .checkbox-label:hover, .tpl-component-catalog-filter .catalog-filter-items .checkbox-label:active {
          background-color: var(--color-bg-21); }
      .tpl-component-catalog-filter .catalog-filter-items .checkbox-item {
        width: 100%;
        display: block; }
      .tpl-component-catalog-filter .catalog-filter-items .checkbox-input:checked + .checkbox-label {
        background-color: var(--color-bg-20);
        transition: background-color 0.2s; }
        .tpl-component-catalog-filter .catalog-filter-items .checkbox-input:checked + .checkbox-label:after {
          content: "\4d";
          position: absolute;
          top: 3px;
          right: 7px;
          font-family: var(--icons-elegant);
          color: var(--color-font-10); }
  .tpl-component-catalog-filter .catalog-filter-options {
    display: none;
    padding: 20px 0; }
  .tpl-component-catalog-filter .catalog-filter-title {
    font-size: 12px;
    line-height: 20px;
    font-family: var(--font-2);
    color: var(--color-font-1);
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin: 26px 0 0;
    cursor: pointer;
    max-width: 300px; }
    .tpl-component-catalog-filter .catalog-filter-title:hover, .tpl-component-catalog-filter .catalog-filter-title:active {
      color: var(--color-font-8); }
      .tpl-component-catalog-filter .catalog-filter-title:hover:before, .tpl-component-catalog-filter .catalog-filter-title:active:before {
        color: var(--color-font-8); }
    .tpl-component-catalog-filter .catalog-filter-title:before {
      position: absolute;
      content: '\33';
      left: -24px;
      top: 0;
      font-family: var(--icons-elegant);
      color: var(--color-font-5);
      font-size: 18px;
      font-weight: 400; }
  .tpl-component-catalog-filter .catalog-filter-inputs {
    padding: 15px 0 38px; }
  .tpl-component-catalog-filter .catalog-filter-divider {
    font-family: var(--font-4);
    color: var(--color-font-1);
    font-weight: 500;
    font-size: 12px;
    opacity: 0.5;
    line-height: 40px;
    padding: 0 5px; }
  .tpl-component-catalog-filter .catalog-filter-input {
    width: 97px;
    height: 40px;
    background-color: var(--color-bg-7);
    line-height: 18px;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    font-family: var(--font-2);
    color: var(--color-font-1);
    text-transform: none;
    border: 1px solid var(--color-border-11);
    border-radius: 2px; }
    .tpl-component-catalog-filter .catalog-filter-input::-webkit-input-placeholder, .tpl-component-catalog-filter .catalog-filter-input::-moz-placeholder, .tpl-component-catalog-filter .catalog-filter-input::-ms-input-placeholder, .tpl-component-catalog-filter .catalog-filter-input::-moz-placeholder {
      color: var(--color-font-7); }
    .tpl-component-catalog-filter .catalog-filter-input:focus {
      border-color: var(--color-border-12); }
  .tpl-component-catalog-filter .catalog-filter-currency {
    font-size: 13px;
    font-style: italic;
    color: var(--color-font-1);
    font-family: var(--font-4);
    text-transform: none;
    font-weight: 400;
    padding-left: 14px;
    line-height: 40px; }
  .tpl-component-catalog-filter .catalog-filter-reset {
    font-size: 12px;
    line-height: 36px;
    font-family: var(--font-2);
    color: var(--color-font-5);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin: 38px 0 20px;
    padding-left: 25px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }
    .tpl-component-catalog-filter .catalog-filter-reset:before {
      position: absolute;
      left: 3px;
      top: -1px;
      font-family: var(--icons-elegant);
      content: "\0051";
      font-weight: 400; }
