.button--arrow {
  position: relative;
  padding-right: 66px;
  padding-left: 44px; }
  .button--arrow:before {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 25px;
    color: var(--color-font-4);
    font-size: 20px;
    content: '\24';
    font-family: var(--icons-elegant);
    font-weight: 400; }

@media (max-width: 400px) {
  .button--arrow:before {
    font-size: 12.5px;
    right: 17px; }
  .button--arrow {
    padding-right: 38px;
    padding-left: 22px; } }
