.button {
  background-color: var(--color-bg-2);
  font-family: var(--font-2);
  text-transform: uppercase;
  color: var(--color-font-4);
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  transition: 0; }
  .button:hover {
    background-color: var(--color-bg-16);
    transition: all 0.2s; }

@media (max-width: 400px) {
  .button {
    font-size: 9px; } }
