.button--form {
  font-size: 12px;
  font-weight: 700;
  font-family: var(--font-2);
  color: var(--color-font-4);
  padding: 15px 50px;
  border-radius: 3px;
  text-align: center; }
  .button--form--secondary {
    background-color: transparent;
    color: var(--color-font-5);
    border: 1px solid var(--color-border-15); }
    .button--form--secondary:hover, .button--form--secondary:active {
      border-color: var(--color-border-18);
      background-color: transparent; }
  .button--form--inverse {
    color: var(--color-font-4);
    background-color: transparent;
    border: 2px solid var(--color-border-2); }
    .button--form--inverse:hover, .button--form--inverse:active {
      border-color: var(--color-bg-16); }
