.button--icon {
  font-size: 11px;
  font-family: var(--font-2);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-font-1);
  position: relative; }
  .button--icon:before {
    position: absolute;
    top: 0px;
    left: 0;
    content: "";
    width: 10px; }
  .button--icon:hover:before, .button--icon:active:before {
    color: --var(--color-font-5); }
