.button--social {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-color: var(--color-bg-7);
  display: inline-block;
  vertical-align: top;
  margin-left: 24px; }
  .button--social:first-child {
    margin-left: 0; }
  .button--social:hover, .button--social:active {
    opacity: 0.8;
    background-color: var(--color-bg-7); }
  .button--social--vk {
    background-image: url(../img/icons/vk.png); }
  .button--social--gp {
    background-image: url(../img/icons/googleplus.png); }
  .button--social--fb {
    background-image: url(../img/icons/fb.png); }
  .button--social--email {
    background-image: url(../img/icons/email-social.png); }
