---
layout: layouts/base.njk
templateClass: home
---
<section class="intro">
  <img class="avatar intro__avatar" src="/img/avatar.png"/>

  <div class="intro__content raw-content">{{ content | safe }}</div>
</section>
