
<div class="tpl-component-header-bottom-part">
  <div class="block-content flex-container">
    <ul class="site-categories">
      <li><a class="site-categories-link link link--primary" href="#">Для кухни                               </a></li>
      <li><a class="site-categories-link link link--primary" href="#">Для спальни</a></li>
      <li><a class="site-categories-link link link--primary active" href="#">Для гостиной</a></li>
      <li><a class="site-categories-link link link--primary" href="#">Для ванной </a></li>
      <li><a class="site-categories-link link link--primary" href="#">Для прихожей</a></li>
      <li><a class="site-categories-link link link--primary" href="#">Для лоджий</a></li>
    </ul>
  </div>
</div>