
<div class="tpl-component-cover-slider">
  <div class="slider fotorama fotorama-arrow" data-width="100%" data-ratio="1654/590" data-maxwidth="1654" data-maxheight="590" data-minheight="500" data-arrows="false" data-loop="true">
    <section class="slider-item">
      <div class="slider-image" style="background-image: url(../img/sliders/slider1.png);"></div>
      <div class="slider-content">
        <h1 class="slider-header">Дом начинается с уюта</h1>
        <div class="slider-postfix">Мы знаем, что уют – превыше всего. Поэтому на этой неделе все комплекты серии «Уют» продаются со скидкой 50%. </div>
        <div class="button button--primary button--arrow">К покупкам</div>
      </div>
    </section>
    <section class="slider-item">
      <div class="slider-image" style="background-image: url(../img/sliders/slider2.png);"></div>
      <div class="slider-content">
        <h1 class="slider-header">Дом начинается с двери</h1>
        <div class="slider-postfix">Мы знаем, что уют – превыше всего. Поэтому на этой неделе все комплекты серии "Двери" продаются со скидкой 50%. </div>
        <div class="button button--primary button--arrow">К покупкам дверей</div>
      </div>
    </section>
    <section class="slider-item">
      <div class="slider-image" style="background-image: url(../img/sliders/slider1.png);"></div>
      <div class="slider-content">
        <h1 class="slider-header">Дом начинается с уюта</h1>
        <div class="slider-postfix">Мы знаем, что уют – превыше всего. Поэтому на этой неделе все комплекты серии «Уют» продаются со скидкой 50%. </div>
        <div class="button button--primary button--arrow">К покупкам</div>
      </div>
    </section>
    <section class="slider-item">
      <div class="slider-image" style="background-image: url(../img/sliders/slider1.png);"></div>
      <div class="slider-content">
        <h1 class="slider-header">Дом начинается с уюта</h1>
        <div class="slider-postfix">Мы знаем, что уют – превыше всего. Поэтому на этой неделе все комплекты серии «Уют» продаются со скидкой 50%. </div>
        <div class="button button--primary button--arrow">К покупкам</div>
      </div>
    </section>
  </div>
  <div class="slider-arrow slider-arrow--left js-fotorama-arrow-left js-fotorama-arrow"></div>
  <div class="slider-arrow slider-arrow--right js-fotorama-arrow-right js-fotorama-arrow"></div>
</div>