
<div class="tpl-component-product-reviews js-tab-select-list" id="reviews">
  <div class="product-reviews-inside">
    <div class="block-content">
      <div class="product-tab">Отзывы о товаре</div>
      <div class="product-reviews-top flex-container">    
        <div class="product-reviews-header title-italic">Отзывы (<span>11</span>)</div>
        <div class="product-reviews-controls flex-container">
          <div class="product-filter product-sort">
            <div class="product-sort-title">сортировать по</div>
            <div class="product-sort-select select">
              <select class="product-select" name="reviewSort" data-custom-class="product-select">
                <option value="date">дате добавления</option>
                <option value="rating">рейтингу</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="product-reviews-bottom">
        <button class="button button--transparent button--border js-write-review-btn" data-popup="#reviewPopup">написать отзыв</button>
      </div>
      <div class="product-reviews">
        <div class="product-review flex-container">
          <div class="product-review-details">
            <div class="product-review-name">Сергей Д.</div>
            <div class="product-review-date">30.07.2017</div>
          </div>
          <div class="product-review-content">У стула есть один недостаток – он слишком хорош собой.</div>
        </div>
        <div class="product-review flex-container">
          <div class="product-review-details">
            <div class="product-review-name">Анастасия Мартынова</div>
            <div class="product-review-date">30.07.2017</div>
          </div>
          <div class="product-review-content">Взяла этот стул по акции, отличный стул. Раньше сидели на табуретках, теперь поняли, что спинка это очень удобно. Купили уже 4 стула, ещё родителям 3, на дачу. По соотношению цены и качества очень хороший вариант.</div>
        </div>
      </div>
      <button class="button button--primary button--transparent button--showMore product-reviews-buttonMore">Показать ещё</button>
    </div>
  </div>
</div>