.tpl-component-subscribe-popup {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
  z-index: 100; }
  .tpl-component-subscribe-popup.noImage .popup-content-inner {
    position: relative; }
  .tpl-component-subscribe-popup.noImage .popup-content-inner--big {
    padding: 39px 13% 74px; }
  .tpl-component-subscribe-popup.noImage .popup-content-caption {
    padding-top: 2px; }
  .tpl-component-subscribe-popup.imageLeft .popup-content {
    font-size: 0; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-image {
      width: 250px;
      height: 100%;
      min-height: 400px; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-header, .tpl-component-subscribe-popup.imageLeft .popup-content-caption {
      margin: 0;
      text-align: left; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-inner--small {
      padding: 44px 9% 74px;
      flex-grow: 1;
      max-width: 450px;
      min-height: 400px; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-header {
      line-height: 28px; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-caption {
      padding-top: 11px;
      font-size: 16px;
      line-height: 24px; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-form {
      flex-direction: column; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-label-icon {
      background-image: none; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-input {
      text-align: center;
      height: 40px;
      padding: 10px 10px 10px 10px; }
    .tpl-component-subscribe-popup.imageLeft .popup-content-button {
      height: 40px;
      margin-top: 11px;
      width: 305px;
      padding: 7px 53px; }
  .tpl-component-subscribe-popup .popup-content {
    display: table-cell;
    vertical-align: middle; }
    .tpl-component-subscribe-popup .popup-content-outer {
      display: flex;
      position: relative; }
    .tpl-component-subscribe-popup .popup-content-wrap {
      width: 720px;
      padding: 20px 10px;
      margin: 0 auto;
      position: relative;
      height: 100vh;
      display: table; }
    .tpl-component-subscribe-popup .popup-content-close {
      position: absolute;
      top: 11px;
      right: 11px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: var(--color-bg-26);
      display: block;
      z-index: 10; }
      .tpl-component-subscribe-popup .popup-content-close:before {
        content: '\004d';
        font-family: var(--icons-elegant);
        position: absolute;
        color: var(--color-font-4);
        top: -3px;
        left: -2px;
        font-size: 22px;
        line-height: 25px; }
      .tpl-component-subscribe-popup .popup-content-close:hover, .tpl-component-subscribe-popup .popup-content-close:active {
        opacity: 0.8;
        transition: all 0.2s; }
    .tpl-component-subscribe-popup .popup-content-container {
      box-shadow: 0px 7px 52px 0px var(--color-bs-1);
      position: relative; }
    .tpl-component-subscribe-popup .popup-content-inner {
      background: var(--color-bg-7);
      position: static;
      padding: 70px 7%; }
      .tpl-component-subscribe-popup .popup-content-inner--big {
        padding: 24px 13% 63px; }
    .tpl-component-subscribe-popup .popup-content-icon {
      font-size: 41px;
      font-family: var(--icons-ux);
      color: var(--color-font-5);
      text-align: center; }
      .tpl-component-subscribe-popup .popup-content-icon:before {
        content: "\e640"; }
    .tpl-component-subscribe-popup .popup-content-header {
      font-size: 24px;
      line-height: 30px;
      font-family: var(--font-2);
      font-weight: 700;
      color: var(--color-font-2);
      padding-top: 20px;
      max-width: 500px;
      text-align: center;
      margin: 0 auto; }
    .tpl-component-subscribe-popup .popup-content-caption {
      font-size: 18px;
      line-height: 24px;
      font-family: var(--font-4);
      color: var(--color-font-2);
      max-width: 500px;
      padding-top: 3px;
      text-align: center;
      margin: 0 auto; }
    .tpl-component-subscribe-popup .popup-content-image {
      width: 100%;
      height: 270px;
      background-size: cover;
      background-repeat: no-repeat; }
    .tpl-component-subscribe-popup .popup-content-form {
      padding-top: 41px;
      display: flex; }
    .tpl-component-subscribe-popup .popup-content-label {
      position: relative;
      margin-top: 10px;
      display: block; }
      .tpl-component-subscribe-popup .popup-content-label:first-child {
        margin-top: 0; }
      .tpl-component-subscribe-popup .popup-content-label-icon {
        position: absolute;
        left: 12px;
        top: 14px;
        width: 21px;
        height: 21px;
        background-image: url(../img/icons/sprite.png);
        content: ""; }
      .tpl-component-subscribe-popup .popup-content-label--name .popup-content-label-icon {
        background-position: -21px -21px; }
      .tpl-component-subscribe-popup .popup-content-label--phone .popup-content-label-icon {
        background-position: -42px -21px; }
      .tpl-component-subscribe-popup .popup-content-label--email .popup-content-label-icon {
        background-position: 0px -21px; }
      .tpl-component-subscribe-popup .popup-content-label--password .popup-content-label-icon {
        background-position: -63px -21px; }
    .tpl-component-subscribe-popup .popup-content-input {
      background-size: 21px 21px;
      background-position: 12px 14px;
      background-repeat: no-repeat;
      height: 54px;
      flex-grow: 1;
      padding: 10px 10px 10px 58px; }
      .tpl-component-subscribe-popup .popup-content-input--email {
        width: 305px; }
      .tpl-component-subscribe-popup .popup-content-input:focus + .popup-content-label-icon {
        background-position-y: 0; }
    .tpl-component-subscribe-popup .popup-content-button {
      padding: 18px 53px;
      border-radius: 0; }
