
<div class="tpl-component-subscribe-popup js-popup active" id="subscribePopup">
  <div class="popup">
    <div class="popup-content-wrap">
      <div class="popup-content">
        <div class="popup-content-container js-popup-inner">
          <div class="popup-content-image" style="background-image:url(img/banners/banner1.png);"></div>
          <div class="popup-content-inner popup-content-inner--big"><a class="popup-content-close js-popup-close" href="#">       </a>
            <div class="popup-content-text">
              <div class="popup-content-header">Подпишитесь на рассылку</div>
              <div class="popup-content-caption">Будьте всегда в курсе всех свежих акций и новостей</div>
              <form class="popup-content-form">
                <label class="popup-content-label popup-content-label--email">
                  <input class="input input--border popup-content-input popup-content-input--email" placeholder="Email" name="email"/><span class="popup-content-label-icon"></span>
                </label>
                <button class="button button--form popup-content-button" type="submit">Подписаться</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>