.tpl-component-product-list[max-width~="1100px"] .product-item {
  margin: 0 60px 30px; }

.tpl-component-product-list.filters[max-width~="1100px"] .product-item {
  margin: 0 5px 48px; }

.tpl-component-product-list.detailed[max-width~="1100px"] .product-item {
  margin: 0 4.7%; }

.tpl-component-product-list.filters[max-width~="1050px"] .product-item {
  margin: 0 60px 48px; }

.tpl-component-product-list.detailed[max-width~="1050px"] .product-item {
  margin: 0 2%; }

.tpl-component-product-list.detailed[max-width~="1050px"] .product-info {
  padding: 54px 5% 0 3%; }

.tpl-component-product-list[max-width~="1000px"] .product-item,
.tpl-component-product-list.filters[max-width~="1000px"] .product-item {
  margin: 0 40px 30px; }

.tpl-component-product-list.detailed[max-width~="1000px"] .product-item {
  margin: 0 20px; }

.tpl-component-product-list.detailed[max-width~="1000px"] .product-top {
  max-width: 200px; }

.tpl-component-product-list[max-width~="900px"] .product-item,
.tpl-component-product-list.filters[max-width~="860px"] .product-item {
  margin: 0 25px 30px; }

.tpl-component-product-list.detailed[max-width~="900px"] .product-item {
  margin: 0 20px; }

.tpl-component-product-list.detailed[max-width~="900px"] .product-info {
  padding: 4px 5% 0 3%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left; }

.tpl-component-product-list.detailed[max-width~="900px"] .product-buy {
  padding: 27px 0 0; }
  .tpl-component-product-list.detailed[max-width~="900px"] .product-buy-top {
    flex-direction: column; }
  .tpl-component-product-list.detailed[max-width~="900px"] .product-buy-bottom {
    padding-top: 20px; }
  .tpl-component-product-list.detailed[max-width~="900px"] .product-buy-quantity {
    margin-right: 63px;
    text-align: right; }

.tpl-component-product-list[max-width~="820px"] .product-item,
.tpl-component-product-list.filters[max-width~="780px"] .product-item {
  max-width: 300px;
  min-width: 260px;
  min-height: 400px; }

.tpl-component-product-list[max-width~="820px"] .product-image,
.tpl-component-product-list.filters[max-width~="780px"] .product-image {
  height: 250px; }

.tpl-component-product-list[max-width~="820px"] .product-cover,
.tpl-component-product-list.filters[max-width~="780px"] .product-cover {
  padding: 40px 20px 40px 35px; }
  .tpl-component-product-list[max-width~="820px"] .product-cover .product-image,
  .tpl-component-product-list.filters[max-width~="780px"] .product-cover .product-image {
    height: 100%; }
  .tpl-component-product-list[max-width~="820px"] .product-cover-title,
  .tpl-component-product-list.filters[max-width~="780px"] .product-cover-title {
    font-size: 26px;
    line-height: 34px; }

.tpl-component-product-list.detailed[max-width~="820px"] .product-item {
  max-width: 100%;
  min-height: 205px;
  margin-left: 10px;
  margin-right: 10px; }

.tpl-component-product-list.detailed[max-width~="820px"] .product-image {
  height: 180px; }

.tpl-component-product-list.detailed[max-width~="720px"] .product-title {
  font-size: 14px;
  line-height: 17px; }

.tpl-component-product-list.detailed[max-width~="720px"] .product-desc {
  font-size: 14px;
  line-height: 16px; }

.tpl-component-product-list.detailed[max-width~="720px"] .product-image {
  height: 160px;
  width: 160px; }

.tpl-component-product-list.detailed[max-width~="720px"] .product-info {
  flex-grow: unset;
  padding: 4px 10px 0 20px;
  margin: 0; }

.tpl-component-product-list[max-width~="700px"] .product-item,
.tpl-component-product-list.filters[max-width~="660px"] .product-item {
  margin-bottom: 30px;
  min-height: 380px;
  margin: 0 10px 40px; }

.tpl-component-product-list[max-width~="700px"] .product-image,
.tpl-component-product-list.filters[max-width~="660px"] .product-image {
  height: 230px; }

.tpl-component-product-list[max-width~="700px"] .product-info,
.tpl-component-product-list.filters[max-width~="660px"] .product-info {
  max-width: 80%;
  margin: 0 auto; }

.tpl-component-product-list[max-width~="700px"] .product-title,
.tpl-component-product-list.filters[max-width~="660px"] .product-title {
  font-size: 16px;
  line-height: 22px; }

.tpl-component-product-list[max-width~="700px"] .product-desc,
.tpl-component-product-list.filters[max-width~="660px"] .product-desc {
  font-size: 16px;
  line-height: 22px; }

.tpl-component-product-list[max-width~="700px"] .product-price,
.tpl-component-product-list.filters[max-width~="660px"] .product-price {
  font-size: 16px;
  line-height: 22px;
  padding-top: 16px; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-item {
  max-width: 100%;
  min-height: 205px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  flex-wrap: wrap; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-image {
  height: 150px;
  min-width: 150px; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-info {
  max-width: 100%;
  margin: 0;
  flex-direction: row;
  flex-grow: 1;
  padding-left: 4%;
  justify-content: space-between; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-title {
  font-size: 14px;
  line-height: 17px; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-desc {
  font-size: 12px;
  line-height: 14px; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-price {
  font-size: 18px;
  line-height: 19px;
  padding-top: 26px;
  margin-left: 20%;
  text-align: right; }

.tpl-component-product-list.detailed[max-width~="660px"] .product-buy {
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  padding-top: 10px;
  justify-content: space-between; }
  .tpl-component-product-list.detailed[max-width~="660px"] .product-buy-addToCart {
    font-size: 10px;
    font-weight: 700;
    width: 160px; }
  .tpl-component-product-list.detailed[max-width~="660px"] .product-buy-top {
    flex-direction: row-reverse;
    justify-content: space-between; }
  .tpl-component-product-list.detailed[max-width~="660px"] .product-buy-quantity {
    margin-right: 20px;
    margin-left: 20px; }
  .tpl-component-product-list.detailed[max-width~="660px"] .product-buy-bottom {
    padding-top: 2.5px; }

.tpl-component-product-list.detailed[max-width~="600px"] .product-item {
  margin-left: 10px;
  margin-right: 10px; }

.tpl-component-product-list.detailed[max-width~="600px"] .product-buy-fav {
  margin-left: 7px; }

.tpl-component-product-list[max-width~="600px"] .product-item,
.tpl-component-product-list.filters[max-width~="560px"] .product-item {
  max-width: 240px;
  min-width: 220px;
  min-height: 340px;
  margin: 0 5px 30px; }

.tpl-component-product-list[max-width~="600px"] .product-image,
.tpl-component-product-list.filters[max-width~="560px"] .product-image {
  height: 200px; }

.tpl-component-product-list[max-width~="600px"] .product-info,
.tpl-component-product-list.filters[max-width~="560px"] .product-info {
  max-width: 80%;
  margin: 0 auto; }

.tpl-component-product-list[max-width~="600px"] .product-title,
.tpl-component-product-list.filters[max-width~="560px"] .product-title {
  font-size: 14px;
  line-height: 20px; }

.tpl-component-product-list[max-width~="600px"] .product-desc,
.tpl-component-product-list.filters[max-width~="560px"] .product-desc {
  font-size: 12px;
  line-height: 22px; }

.tpl-component-product-list[max-width~="600px"] .product-price,
.tpl-component-product-list.filters[max-width~="560px"] .product-price {
  font-size: 14px;
  line-height: 20px;
  padding-top: 14px; }

.tpl-component-product-list[max-width~="600px"] .product-cover,
.tpl-component-product-list.filters[max-width~="560px"] .product-cover {
  padding: 35px 20px 40px 25px; }
  .tpl-component-product-list[max-width~="600px"] .product-cover-title,
  .tpl-component-product-list.filters[max-width~="560px"] .product-cover-title {
    font-size: 24px;
    line-height: 32px; }

.tpl-component-product-list[max-width~="600px"] .product-discount,
.tpl-component-product-list.filters[max-width~="560px"] .product-discount {
  font-size: 17px;
  line-height: 60px;
  width: 60px;
  height: 60px; }

.tpl-component-product-list.detailed[max-width~="600px"] .product-discount {
  font-size: 12px;
  line-height: 50px;
  width: 50px;
  height: 50px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-item {
  max-width: 100%;
  margin: 0 10px;
  min-height: 208px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-buy-fav {
  margin-left: 7px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-buy-buyNow, .tpl-component-product-list.detailed[max-width~="560px"] .product-buy-compare {
  padding-left: 14px;
  margin-top: 0;
  display: block; }
  .tpl-component-product-list.detailed[max-width~="560px"] .product-buy-buyNow:before, .tpl-component-product-list.detailed[max-width~="560px"] .product-buy-compare:before {
    top: 2px;
    left: -3px;
    content: '/';
    font-size: 10px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-buy-compare {
  margin-top: 10px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-buy-fav {
  position: absolute;
  top: -10px;
  right: -20px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-info {
  max-width: 90%;
  margin: 0;
  display: flex;
  justify-content: space-between; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-top {
  padding-top: 0; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-title {
  padding-top: 10px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-price {
  text-align: right;
  padding-top: 10px;
  margin-left: 6%; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-price {
  font-size: 18px;
  line-height: 19px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-image {
  height: 130px;
  min-width: 130px;
  width: 130px; }

.tpl-component-product-list.detailed[max-width~="560px"] .product-quantity {
  min-width: 100px; }

.tpl-component-product-list[max-width~="500px"] .product-item,
.tpl-component-product-list.filters[max-width~="470px"] .product-item {
  min-width: 170px;
  min-height: 222px;
  max-width: 170px;
  margin: 0 10px 28px; }
  .tpl-component-product-list[max-width~="500px"] .product-item:nth-child(n+5),
  .tpl-component-product-list.filters[max-width~="470px"] .product-item:nth-child(n+5) {
    display: none; }

.tpl-component-product-list[max-width~="500px"] .product-tag,
.tpl-component-product-list.filters[max-width~="470px"] .product-tag {
  display: none; }

.tpl-component-product-list[max-width~="500px"] .product-title,
.tpl-component-product-list.filters[max-width~="470px"] .product-title {
  font-size: 11px;
  line-height: 13px;
  padding-top: 22px; }

.tpl-component-product-list[max-width~="500px"] .product-desc,
.tpl-component-product-list.filters[max-width~="470px"] .product-desc {
  font-size: 9px;
  line-height: 13px;
  padding-top: 3px; }

.tpl-component-product-list[max-width~="500px"] .product-price,
.tpl-component-product-list.filters[max-width~="470px"] .product-price {
  font-size: 11px;
  line-height: 18px;
  padding-top: 7px; }

.tpl-component-product-list[max-width~="500px"] .product-cover,
.tpl-component-product-list.filters[max-width~="470px"] .product-cover {
  padding: 26px 20px 40px 29px; }
  .tpl-component-product-list[max-width~="500px"] .product-cover-title,
  .tpl-component-product-list.filters[max-width~="470px"] .product-cover-title {
    font-size: 16px;
    line-height: 18px; }
  .tpl-component-product-list[max-width~="500px"] .product-cover .button,
  .tpl-component-product-list.filters[max-width~="470px"] .product-cover .button {
    font-size: 7px;
    margin-top: 0;
    padding-right: 45px;
    text-align: left; }
    .tpl-component-product-list[max-width~="500px"] .product-cover .button--arrow:before,
    .tpl-component-product-list.filters[max-width~="470px"] .product-cover .button--arrow:before {
      font-size: 10px; }
  .tpl-component-product-list[max-width~="500px"] .product-cover-image,
  .tpl-component-product-list.filters[max-width~="470px"] .product-cover-image {
    height: 100%; }

.tpl-component-product-list[max-width~="500px"] .product-image,
.tpl-component-product-list.filters[max-width~="470px"] .product-image {
  height: 150px; }

.tpl-component-product-list[max-width~="500px"] .product-discount,
.tpl-component-product-list.filters[max-width~="470px"] .product-discount {
  font-size: 12px;
  line-height: 50px;
  width: 50px;
  height: 50px; }

.tpl-component-product-list.detailed[max-width~="500px"] .product-image {
  height: 130px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-discount {
  font-size: 12px;
  line-height: 50px;
  width: 50px;
  height: 50px; }

.tpl-component-product-list.filters[max-width~="470px"] .product-item {
  min-width: 170px;
  min-height: 222px;
  max-width: 170px;
  margin: 0 10px 28px; }
  .tpl-component-product-list.filters[max-width~="470px"] .product-item:nth-child(n+5) {
    display: block; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-item {
  max-width: 100%;
  margin: 0 10px;
  min-height: 208px;
  padding-top: 10px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-buy {
  flex-direction: column;
  padding: 10px 10px 0; }
  .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-fav {
    margin-left: 7px; }
  .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-addToCart {
    width: 100%;
    margin-top: 10px; }
  .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-buyNow, .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-compare {
    padding-left: 16px;
    margin-top: 0;
    display: block; }
    .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-buyNow:before, .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-compare:before {
      top: 2px;
      left: 0px;
      content: '/';
      font-size: 10px; }
  .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-compare {
    margin-top: 10px; }
  .tpl-component-product-list.detailed[max-width~="470px"] .product-buy-fav {
    position: absolute;
    top: 5px;
    right: 10px;
    margin-right: 0; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-info {
  max-width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-title {
  font-size: 14px;
  line-height: 17px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-desc {
  font-size: 12px;
  line-height: 14px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-top {
  padding-top: 0;
  max-width: 150px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-title {
  padding-top: 10px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-price {
  text-align: left;
  padding-top: 10px;
  margin-left: 0; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-price {
  font-size: 18px;
  line-height: 19px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-picture {
  height: 130px;
  min-width: 130px;
  width: 130px; }

.tpl-component-product-list.detailed[max-width~="470px"] .product-quantity {
  min-width: 100px;
  margin-right: 0; }

.tpl-component-product-list[max-width~="420px"] .product-item,
.tpl-component-product-list.filters[max-width~="390px"] .product-item {
  margin: 0 0 28px; }

.tpl-component-product-list.detailed[max-width~="380px"] .product-item {
  flex-direction: column;
  margin: 0 10px; }

.tpl-component-product-list.detailed[max-width~="380px"] .product-left {
  flex-direction: column; }

.tpl-component-product-list.detailed[max-width~="380px"] .product-image {
  width: 100%;
  min-width: 100%; }

.tpl-component-product-list.detailed[max-width~="380px"] .product-info {
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin-bottom: 20px; }

.tpl-component-product-list.detailed[max-width~="380px"] .product-price {
  text-align: right; }

.tpl-component-product-list[max-width~="370px"] .product-item,
.tpl-component-product-list.filters[max-width~="340px"] .product-item {
  margin: 0 auto 30px; }

.tpl-component-product-list.detailed[max-width~="340px"] .product-item {
  margin: 0 10px; }

@media (max-width: 1000px) {
  .product-cover--promotion {
    display: none; }
    .product-cover--promotion.copy {
      display: block; } }
