.loader {
  background-color: #060f53;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.loader.is-hidden {
  display: none;
}