
<div class="tpl-component-product-description active js-tab-select-list" id="info">
  <div class="product-description-inside">
    <div class="block-content">
      <div class="product-description-inner">
        <div class="product-tab">Описание и характеристики</div>
        <div class="product-description-header">Ваш Помощник для работы и отдыха</div>
        <div class="product-description-text">Этот стул прекрасно подойдет для небольшой кухни. Высокая спинка и мягкое сиденье обеспечивают максимальный комфорт, даже при длительном сидении на стуле. Ножки стула изготовлены из прочного натурального деревянного материала. Съемный чехол можно стирать.</div>
        <div class="product-description-info">
          <div class="product-description-photo" style="background-image: url(img/products/product18.png);"></div>
          <div class="product-description-content">
            <div class="product-description-title title-italic">Характеристики товара</div>
            <table class="product-description-table">
              <tr class="product-description-row">
                <td class="product-description-feature">Производитель</td>
                <td class="product-description-value">Германия</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Гарантия</td>
                <td class="product-description-value">24 мес.</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Коллекция</td>
                <td class="product-description-value">Нестареющая классика</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Ширина и высота</td>
                <td class="product-description-value">41х97,5 см</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Материал обивки</td>
                <td class="product-description-value">Велюр</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Материал каркаса</td>
                <td class="product-description-value">Дерево</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Цвет</td>
                <td class="product-description-value">Зеленый, охра и бежевый</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature"> Общий вес с упаковкой</td>
                <td class="product-description-value">4,8 кг</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>