@media (max-width: 1150px)  {
.footer-right {
    display: none;
}
}
@media (max-width: 1280px)  {
.footer-wrap {
    margin: 0 10px;
}
}
    @media (max-width: 1100px) {
.footer-wrap {
    margin: 0 auto;
}
}
@media (max-width: 960px) {
.footer-center {
    left: auto;
    right: 20px;
}  
.footer-wrap {
    margin: 0 auto;
}
#wrap {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
}

.variants__description {
    font-size: 18px;
    line-height: 25px;
}

.variants__header {
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 900;
    color: #fff;
}
.variants .buyNetcat, .variants .chooseDeveloper {
    padding: 30px 50px 0;
}
.integration__companies {
    padding: 0;
    margin-top: 10px;
}
.integration__companies > a {
        margin: 30px;
}

.integration {
    background: #e9f1ff;
    padding: 60px 0 40px 0;
}
}

@media only screen and (max-width: 800px) {
  .reviews {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 0;
  } 
  .reviews__info {
    padding-bottom: 60px;
  }
.footer-center {
    width: 50%;
    right: 0px;
    text-align: right;
}
.footer-left {
    left: 25px;
}



.section.tender .rateTable .inside, .section.tender .tenderFormset .inside, .section.tender .inside, .inside {
    padding: 0 25px;
}
}

@media (max-width: 700px) {
.footer-center, .footer-wrap:after {
    display: none;
}

.footer-left {
    display: block;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    width: auto;
    max-width: auto;
    margin: 0 auto;
    position: relative;
    left: auto;
    padding-top: 15px;
}
footer {
    height: 80px;
    margin-top: -80px;
    text-align: center;
}
#wrap {
    padding-bottom: 80px;
}
.variants .buyNetcat, .variants .chooseDeveloper {
    padding: 30px 50px 30px;
}

.topBlock {
    height: 460px;
}
.topBlock__mainText {
    padding-bottom: 30px;
}
.lds_blog {
    padding: 63px 0 100px 0;
}
}


