.tpl-component-product-info .tpl-component-product-description {
  display: none; }
  .tpl-component-product-info .tpl-component-product-description.active {
    display: block; }

.tpl-component-product-info .tpl-component-product-reviews {
  display: none; }
  .tpl-component-product-info .tpl-component-product-reviews.active {
    display: block; }

.tpl-component-product-info .tpl-component-product-list.simple {
  display: none; }
  .tpl-component-product-info .tpl-component-product-list.simple.active {
    display: block; }

.tpl-component-product-info .tpl-component-text-info.icons {
  display: none; }
  .tpl-component-product-info .tpl-component-text-info.icons.active {
    display: block; }
