
<div class="tpl-component-product-info"> 
  <div class="tpl-component-block-tabs">
    <div class="block-content">
      <div class="block-tabs-inner"><a class="block-tab active js-tabs-filter" href="#info">Описание и характеристики</a><a class="block-tab js-tabs-filter" href="#reviews">Отзывы о товаре (<span>3</span>)</a><a class="block-tab js-tabs-filter" href="#similar">вам также понравится</a><a class="block-tab js-tabs-filter" href="#delivery">Условия доставки и возврата</a></div>
    </div>
  </div>
  <div class="tpl-component-product-description active js-tabs-filter-list" id="info">
    <div class="block-content">
      <div class="product-description-inner">
        <div class="product-description-header">Ваш Помощник для работы и отдыха</div>
        <div class="product-description-text">Этот стул прекрасно подойдет для небольшой кухни. Высокая спинка и мягкое сиденье обеспечивают максимальный комфорт, даже при длительном сидении на стуле. Ножки стула изготовлены из прочного натурального деревянного материала. Съемный чехол можно стирать.</div>
        <div class="product-description-info">
          <div class="product-description-photo" style="background-image: url(img/products/product18.png);"></div>
          <div class="product-description-content">
            <div class="product-description-title title-italic">Характеристики товара</div>
            <table class="product-description-table">
              <tr class="product-description-row">
                <td class="product-description-feature">Производитель</td>
                <td class="product-description-value">Германия</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Гарантия</td>
                <td class="product-description-value">24 мес.</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Коллекция</td>
                <td class="product-description-value">Нестареющая классика</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Ширина и высота</td>
                <td class="product-description-value">41х97,5 см</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Материал обивки</td>
                <td class="product-description-value">Велюр</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Материал каркаса</td>
                <td class="product-description-value">Дерево</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature">Цвет</td>
                <td class="product-description-value">Зеленый, охра и бежевый</td>
              </tr>
              <tr class="product-description-row">
                <td class="product-description-feature"> Общий вес с упаковкой</td>
                <td class="product-description-value">4,8 кг</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tpl-component-product-reviews js-tabs-filter-list" id="reviews">
    <div class="block-content">
      <div class="product-reviews-top flex-container">
        <div class="product-reviews-header title-italic">Отзывы (<span>11</span>)</div>
        <div class="product-reviews-controls flex-container">
          <div class="product-filter product-sort">
            <div class="product-sort-title">сортировать по</div>
            <div class="product-sort-select select">
              <select class="product-select" name="reviewSort">
                <option value="date">дате добавления</option>
                <option value="rating">рейтингу</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="product-reviews-bottom">
        <button class="button button--transparent button--border">написать отзыв</button>
      </div>
      <div class="product-reviews">
        <div class="product-review flex-container">
          <div class="product-review-details">
            <div class="product-review-name">Сергей Д.</div>
            <div class="product-review-date">30.07.2017</div>
          </div>
          <div class="product-review-content">У стула есть один недостаток – он слишком хорош собой.</div>
        </div>
        <div class="product-review flex-container">
          <div class="product-review-details">
            <div class="product-review-name">Анастасия Мартынова</div>
            <div class="product-review-date">30.07.2017</div>
          </div>
          <div class="product-review-content">Взяла этот стул по акции, отличный стул. Раньше сидели на табуретках, теперь поняли, что спинка это очень удобно. Купили уже 4 стула, ещё родителям 3, на дачу. По соотношению цены и качества очень хороший вариант.</div>
        </div>
      </div>
      <button class="button button--primary button--transparent button--showMore product-reviews-buttonMore">Показать ещё</button>
    </div>
  </div>
  <div class="tpl-component-product-list simple js-tabs-filter-list" id="similar">
    <div class="block-content">
      <div class="product-list-top flex-container">
        <div class="product-list-header title-italic">Вам также понравится</div>
      </div>
      <div class="product-list flex-container js-tabs-filter-list"><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product1.png"/></div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Цепи и кольца</div>
                <div class="product-desc">Лампы металлические, 3 шт</div>
              </div>
              <div class="product-price">8 660<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product9.png"/></div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Ханна</div>
                <div class="product-desc">Ваза с узким горлышком</div>
              </div>
              <div class="product-price">756<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product10.png"/></div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Столькгольм</div>
                <div class="product-desc">Стул деревянный</div>
              </div>
              <div class="product-price">8 660<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product11.png"/></div>
              <div class="product-discount">-70%</div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Суккулент</div>
                <div class="product-desc">В горшочке</div>
              </div>
              <div class="product-price">100 100<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a>
      </div>
    </div>
  </div>
  <div class="tpl-component-text-info icons js-tabs-filter-list" id="delivery">
    <div class="block-content">
      <div class="text-info-items flex-container">
        <div class="text-info-item text-info-item--delivery">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">Бесплатная доставка</div>
            <div class="text-info-desc">Доставляем бесплатно до двери по Москве и Московской области. Сборка мебели оплачивается отдельно. С тарифами по сборке можно ознакомиться  <a class="link link--orange link--noUnderline" href="#">здесь</a></div>
          </div>
        </div>
        <div class="text-info-item text-info-item--moneyback">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">60 дней для возврата</div>
            <div class="text-info-desc">Собственная система оценки гарантирует высокое качество товара. Плюс гарантия от производителей.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>