.tpl-component-block-tabs[max-width~="1100px"] {
  margin-top: 58px;
  margin-bottom: 15px; }
  .tpl-component-block-tabs[max-width~="1100px"] .block-tab {
    font-size: 12px;
    margin: 0 3%; }

.tpl-component-block-tabs[max-width~="1000px"] {
  margin-top: 48px;
  margin-bottom: 5px; }
  .tpl-component-block-tabs[max-width~="1000px"] .block-tab {
    font-size: 12px;
    margin: 0 2%; }

.tpl-component-block-tabs[max-width~="900px"] {
  margin-top: 38px;
  margin-bottom: 0px; }
  .tpl-component-block-tabs[max-width~="900px"] .block-tab {
    font-size: 12px;
    text-align: center; }

@media (max-width: 720px) {
  .tpl-component-block-tabs {
    display: none; } }
