.input--cart {
  width: 100%;
  min-width: 300px;
  border: 1px solid var(--color-border-6);
  background: var(--color-bg-7);
  border-radius: 7px;
  height: 53px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 26px;
  font-family: var(--font-2);
  color: var(--color-font-2); }
  .input--cart:focus {
    border-color: var(--color-border-20);
    transition: all 0.2s; }
  .input--cart::-webkit-input-placeholder, .input--cart::-moz-placeholder, .input--cart::-ms-input-placeholder, .input--cart::-moz-placeholder {
    color: var(--color-font-15); }
