@charset "UTF-8";
.product-quantity-inputs {
  font-size: 0; }

.product-quantity-button {
  width: 30px;
  height: 40px;
  border: 1px solid var(--color-border-13);
  background-color: var(--color-bg-7);
  position: relative;
  font-size: 25px;
  line-height: 25px;
  color: var(--color-border-13);
  font-family: var(--font-2);
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  user-select: none; }
  .product-quantity-button:hover, .product-quantity-button:active {
    color: var(--color-border-12);
    border-color: var(--color-border-12);
    transition: all 0.2s; }
  .product-quantity-button:before {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); }
  .product-quantity-button--less:before {
    content: "–"; }
  .product-quantity-button--more:before {
    content: "+"; }

.product-quantity-input {
  height: 40px;
  border: 1px solid var(--color-border-13);
  width: 40px;
  background-color: var(--color-bg-7);
  font-family: var(--font-2);
  font-size: 15px;
  text-align: center;
  border-left: 0;
  border-right: 0; }
  .product-quantity-input:focus {
    border-color: var(--color-border-12); }

.product-quantity-available {
  font-family: var(--font-4);
  color: var(--color-font-2);
  font-size: 15px;
  line-height: 40px;
  font-style: italic;
  padding-left: 18px; }
