
<div class="product-quantity js-quantity"><span class="product-quantity-inputs">
    <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
    <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
    <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span><span class="product-quantity-available">В наличии <span>3 шт.</span></span></div>