
<div class="tpl-component-product-added-popup compare" id="comparePopup">
  <div class="popup">
    <div class="popup-content-wrap">
      <div class="popup-content">
        <div class="popup-content-inner js-popup-inner"><a class="popup-content-close js-popup-close" href="#">  </a>
          <div class="popup-content-text">
            <div class="popup-content-icon"></div>
            <div class="popup-content-header">Товар добавлен в список сравнения</div>
            <div class="popup-content-caption">Всего в списке сравнения 3 товара</div>
            <div class="popup-content-buttons">
              <button class="button button--form button--form--secondary js-popup-close"> Продолжить покупки</button>
              <button class="button button--form">Посмотреть список</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>