.tpl-component-product-added-popup {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
  z-index: 100;
  display: none; }
  .tpl-component-product-added-popup.compare .popup-content-icon:before {
    content: "\e640"; }
  .tpl-component-product-added-popup.fav .popup-content-icon:before {
    content: "\e644"; }
  .tpl-component-product-added-popup .popup-content {
    display: table-cell;
    vertical-align: middle; }
    .tpl-component-product-added-popup .popup-content-wrap {
      width: 720px;
      padding: 20px 10px;
      margin: 0 auto;
      position: relative;
      height: 100vh;
      display: table; }
    .tpl-component-product-added-popup .popup-content-close {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 40px;
      width: 40px;
      display: block;
      z-index: 10; }
      .tpl-component-product-added-popup .popup-content-close:before {
        content: '\004d';
        font-family: var(--icons-elegant);
        position: absolute;
        color: var(--color-font-7);
        top: 8px;
        left: 2px;
        font-size: 26px;
        line-height: 30px; }
      .tpl-component-product-added-popup .popup-content-close:hover:before, .tpl-component-product-added-popup .popup-content-close:active:before {
        color: var(--color-font-5);
        transition: all 0.2s; }
    .tpl-component-product-added-popup .popup-content-inner {
      background: var(--color-bg-7);
      position: relative;
      box-shadow: 0px 7px 52px 0px var(--color-bs-1);
      padding: 70px 7% 100px; }
    .tpl-component-product-added-popup .popup-content-icon {
      font-size: 41px;
      font-family: var(--icons-ux);
      color: var(--color-font-5);
      text-align: center; }
      .tpl-component-product-added-popup .popup-content-icon:before {
        content: "\e640"; }
    .tpl-component-product-added-popup .popup-content-header {
      font-size: 20px;
      line-height: 30px;
      font-family: var(--font-2);
      font-weight: 700;
      color: var(--color-font-2);
      text-align: center;
      padding-top: 20px;
      max-width: 500px;
      margin: 0 auto; }
    .tpl-component-product-added-popup .popup-content-caption {
      font-size: 15px;
      line-height: 22px;
      font-family: var(--font-4);
      color: var(--color-font-2);
      text-align: center;
      max-width: 500px;
      padding-top: 5px;
      margin: 0 auto; }
    .tpl-component-product-added-popup .popup-content-buttons {
      text-align: center;
      padding: 61px 20px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
