.tpl-component-login-popup {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: left;
  z-index: 100;
  display: none; }
  .tpl-component-login-popup.reg .popup-content-buttons {
    padding: 30px 0px 0;
    justify-content: flex-end; }
    .tpl-component-login-popup.reg .popup-content-buttons .button {
      padding: 12px 31px; }
  .tpl-component-login-popup.reg-social-bottom .popup-content-inputs {
    padding-top: 36px; }
  .tpl-component-login-popup.reg-social-bottom .popup-content-buttons {
    padding: 23px 0px 0; }
  .tpl-component-login-popup.reg-social-bottom .popup-content-caption {
    font-style: italic;
    font-size: 15px; }
    .tpl-component-login-popup.reg-social-bottom .popup-content-caption:after {
      display: none; }
  .tpl-component-login-popup.reg-social-bottom .popup-content-social {
    padding: 1px 0 27px; }
  .tpl-component-login-popup.reg-social-bottom .popup-content .button--social {
    margin-left: 16px; }
  .tpl-component-login-popup.login-image .popup-content-outer {
    display: flex;
    justify-content: space-between; }
  .tpl-component-login-popup.login-image .popup-content-wrap {
    width: 815px; }
  .tpl-component-login-popup.login-image .popup-content-images {
    background-color: var(--color-bg-27);
    position: relative;
    width: 360px; }
  .tpl-component-login-popup.login-image .popup-content-image {
    opacity: 0.06;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }
  .tpl-component-login-popup.login-image .popup-content-social {
    padding: 22px 0 27px; }
  .tpl-component-login-popup.login-image .popup-content-inputs {
    padding-top: 36px; }
  .tpl-component-login-popup.login-image .popup-content-inner {
    padding: 47px 8.3% 66px 7.2%;
    flex-grow: 1; }
    .tpl-component-login-popup.login-image .popup-content-inner--black {
      background-color: transparent;
      box-shadow: none;
      padding: 47px 14.3% 66px 18.9%; }
      .tpl-component-login-popup.login-image .popup-content-inner--black .popup-content-header, .tpl-component-login-popup.login-image .popup-content-inner--black .popup-content-caption, .tpl-component-login-popup.login-image .popup-content-inner--black .popup-content-pros {
        color: var(--color-font-4); }
      .tpl-component-login-popup.login-image .popup-content-inner--black .popup-content-buttons {
        padding-top: 40px; }
        .tpl-component-login-popup.login-image .popup-content-inner--black .popup-content-buttons .button {
          padding: 11px 21px;
          line-height: 14px; }
  .tpl-component-login-popup.login-image .popup-content-buttons {
    padding: 58px 0px 0; }
  .tpl-component-login-popup .popup-content {
    display: table-cell;
    vertical-align: middle; }
    .tpl-component-login-popup .popup-content-wrap {
      width: 455px;
      padding: 20px 10px;
      margin: 0 auto;
      position: relative;
      height: 100vh;
      display: table; }
    .tpl-component-login-popup .popup-content-close {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 40px;
      width: 40px;
      display: block;
      z-index: 10; }
      .tpl-component-login-popup .popup-content-close:before {
        content: '\004d';
        font-family: var(--icons-elegant);
        position: absolute;
        color: var(--color-font-7);
        top: 8px;
        left: -2px;
        font-size: 26px;
        line-height: 30px; }
      .tpl-component-login-popup .popup-content-close:hover:before, .tpl-component-login-popup .popup-content-close:active:before {
        color: var(--color-font-5);
        transition: all 0.2s; }
    .tpl-component-login-popup .popup-content-inner {
      background: var(--color-bg-7);
      position: relative;
      box-shadow: 0px 7px 52px 0px var(--color-bs-1);
      padding: 37px 14.3% 66px 13.2%; }
      .tpl-component-login-popup .popup-content-inner--small {
        padding: 48px 14.3% 24px 13.2%; }
    .tpl-component-login-popup .popup-content-top {
      display: flex;
      justify-content: space-between; }
    .tpl-component-login-popup .popup-content-bottom {
      margin-top: 48px;
      padding-top: 30px;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .tpl-component-login-popup .popup-content-bottom:after {
        position: absolute;
        right: 0;
        top: 12px;
        width: 100%;
        height: 1px;
        border-top: 1px solid var(--color-border-19);
        content: ""; }
    .tpl-component-login-popup .popup-content-header {
      font-size: 20px;
      line-height: 26px;
      font-family: var(--font-2);
      font-weight: 700;
      color: var(--color-font-2);
      text-align: left;
      padding-top: 20px;
      max-width: 500px; }
      .tpl-component-login-popup .popup-content-header--alternative {
        font-size: 15px;
        line-height: 27px;
        font-family: var(--font-4);
        color: var(--color-font-5);
        font-style: italic;
        font-weight: 400; }
        .tpl-component-login-popup .popup-content-header--alternative:hover, .tpl-component-login-popup .popup-content-header--alternative:active {
          opacity: 0.8;
          transition: all 0.2s; }
    .tpl-component-login-popup .popup-content-social {
      padding: 46px 0 27px; }
    .tpl-component-login-popup .popup-content-caption {
      font-size: 14px;
      line-height: 20px;
      font-family: var(--font-4);
      color: var(--color-font-2);
      text-align: left;
      padding-top: 6px;
      position: relative; }
      .tpl-component-login-popup .popup-content-caption:after {
        position: absolute;
        right: 0;
        top: 17px;
        width: 270px;
        height: 1px;
        border-top: 1px solid var(--color-border-19);
        content: ""; }
    .tpl-component-login-popup .popup-content-pros {
      font-size: 14px;
      line-height: 19px;
      font-family: var(--font-4);
      font-style: italic;
      margin-top: 36px;
      margin-bottom: 30px; }
    .tpl-component-login-popup .popup-content-pro {
      position: relative;
      padding-left: 20px;
      margin-top: 12px; }
      .tpl-component-login-popup .popup-content-pro:before {
        position: absolute;
        width: 7px;
        height: 7px;
        transform: rotate(-45deg);
        background-color: var(--color-bg-1);
        content: "";
        left: 1px;
        top: 6px; }
    .tpl-component-login-popup .popup-content-inputs {
      padding-top: 40px; }
    .tpl-component-login-popup .popup-content-label {
      position: relative;
      margin-top: 10px;
      display: block; }
      .tpl-component-login-popup .popup-content-label:first-child {
        margin-top: 0; }
      .tpl-component-login-popup .popup-content-label-icon {
        position: absolute;
        left: 12px;
        top: 7px;
        width: 21px;
        height: 21px;
        background-image: url(../img/icons/sprite.png);
        content: ""; }
      .tpl-component-login-popup .popup-content-label--name .popup-content-label-icon {
        background-position: -21px -21px; }
      .tpl-component-login-popup .popup-content-label--phone .popup-content-label-icon {
        background-position: -42px -21px; }
      .tpl-component-login-popup .popup-content-label--email .popup-content-label-icon {
        background-position: 0px -21px; }
      .tpl-component-login-popup .popup-content-label--password .popup-content-label-icon {
        background-position: -63px -21px; }
      .tpl-component-login-popup .popup-content-label .login-error-text {
        color: var(--color-font-9);
        font-weight: 400;
        font-family: var(--font-2);
        font-size: 12px;
        padding-top: 3px; }
    .tpl-component-login-popup .popup-content-input {
      background-size: 21px 21px;
      background-position: 12px 7px;
      background-repeat: no-repeat;
      width: 100%; }
      .tpl-component-login-popup .popup-content-input:focus + .popup-content-label-icon {
        background-position-y: 0; }
    .tpl-component-login-popup .popup-content-forgot {
      font-size: 13px;
      line-height: 36px;
      font-family: var(--font-4);
      color: var(--color-font-5);
      font-style: italic;
      font-weight: 400; }
      .tpl-component-login-popup .popup-content-forgot:hover, .tpl-component-login-popup .popup-content-forgot:active {
        opacity: 0.8;
        transition: all 0.2s; }
    .tpl-component-login-popup .popup-content-buttons {
      text-align: center;
      padding: 25px 0px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: center; }
      .tpl-component-login-popup .popup-content-buttons .button {
        padding: 12px 44px;
        line-height: 15px;
        border-radius: 0px; }
