
<div class="tpl-component-login-popup js-popup" id="loginPopup">
  <div class="popup">
    <div class="popup-content-wrap">
      <div class="popup-content">
        <div class="popup-content-inner js-popup-inner"><a class="popup-content-close js-popup-close" href="#">  </a>
          <form class="popup-content-text js-loginReg-form">
            <div class="popup-content-top">
              <div class="popup-content-header">Войти</div><a class="popup-content-header popup-content-header--alternative js-reg-btn" href="#" data-popup="#regPopup">Зарегистрироваться</a>
            </div>
            <div class="popup-content-social"><a class="button button--social button--social--vk" href="#"></a><a class="button button--social button--social--gp" href="#"></a><a class="button button--social button--social--fb" href="#"></a></div>
            <div class="popup-content-caption">или</div>
            <div class="popup-content-form">
              <div class="popup-content-inputs">
                <label class="popup-content-label popup-content-label--email js-loginReg-form-email">
                  <input class="input input--border popup-content-input popup-content-input--email js-loginReg-form-input" placeholder="Email" name="email"/><span class="popup-content-label-icon"></span>
                </label>
                <label class="popup-content-label popup-content-label--password js-loginReg-form-password js-loginReg-form-input">
                  <input class="input input--border popup-content-input popup-content-input--password" placeholder="Пароль" name="password" type="password"/><span class="popup-content-label-icon"></span>
                </label>
              </div>
              <div class="popup-content-buttons"><a class="popup-content-forgot" href="#">Забыли пароль?</a>
                <button class="button button--form popup-content-button js-loginReg-form-btn" type="submit">Войти</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>