
<div class="tpl-component-login-popup reg js-popup" id="regPopup">
  <div class="popup">
    <div class="popup-content-wrap">
      <div class="popup-content">
        <div class="popup-content-inner js-popup-inner"><a class="popup-content-close js-popup-close" href="#">       </a>
          <form class="popup-content-text js-loginReg-form">
            <div class="popup-content-top">
              <div class="popup-content-header">Зарегистрироваться </div><a class="popup-content-header popup-content-header--alternative js-login-btn" href="#" data-popup="#loginPopup2">Войти</a>
            </div>
            <div class="popup-content-social"><a class="button button--social button--social--vk" href="#"></a><a class="button button--social button--social--gp" href="#"></a><a class="button button--social button--social--fb" href="#"></a></div>
            <div class="popup-content-caption">или</div>
            <div class="popup-content-form">
              <div class="popup-content-inputs">
                <label class="popup-content-label popup-content-label--email js-loginReg-form-email js-loginReg-form-input">
                  <input class="input input--border popup-content-input popup-content-input--email" placeholder="Email" name="email" value="goodboy@gmail.com"/><span class="popup-content-label-icon"></span>
                </label>
                <label class="popup-content-label popup-content-label--password js-loginReg-form-password js-loginReg-form-input">
                  <input class="input input--border popup-content-input popup-content-input--password" placeholder="Пароль" name="password" type="password"/><span class="popup-content-label-icon"></span>
                </label>
                <label class="popup-content-label popup-content-label--password js-loginReg-form-password2 js-loginReg-form-input">
                  <input class="input input--border popup-content-input popup-content-input--password" placeholder="Пароль ещё раз" name="password" type="password"/><span class="popup-content-label-icon"></span>
                </label>
                <label class="popup-content-label popup-content-label--name js-loginReg-form-name js-loginReg-form-input">
                  <input class="input input--border popup-content-input popup-content-input--name" placeholder="Как к вам обращаться" name="name"/><span class="popup-content-label-icon">           </span>
                </label>
              </div>
              <div class="popup-content-buttons">
                <button class="button button--form popup-content-button js-loginReg-form-btn" type="submit">Зарегистрироваться</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>