.tpl-component-text-info[max-width~="1300px"] .inner-content {
  padding: 0 5.7%; }

.tpl-component-text-info[max-width~="1300px"] .text-info-text {
  padding-top: 50px; }

.tpl-component-text-info[max-width~="1300px"] .text-info-item {
  padding: 32px 0; }

.tpl-component-text-info[max-width~="1300px"] .text-info-title {
  padding-top: 20px; }

.tpl-component-text-info[max-width~="1100px"] .text-info-content {
  width: 55%; }

.tpl-component-text-info[max-width~="1100px"] .text-info-items {
  padding: 60px 20px 52px 40px; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .inner-content {
  padding: 0 2.7%; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .flex-container {
  flex-direction: column; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .text-info-content {
  width: 100%;
  padding: 70px 0 0px; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .text-info-text {
  padding-bottom: 10px; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .text-info-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 52px 0px; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .text-info-item {
  padding: 32px 10px; }

.tpl-component-text-info:not(.icons)[max-width~="1000px"] .text-info-desc {
  max-width: 250px; }

.tpl-component-text-info.icons[max-width~="1000px"] .text-info-item {
  padding: 2% 4% 4%; }

.tpl-component-text-info.icons[max-width~="1000px"] .text-info-title {
  font-size: 22px;
  line-height: 32px;
  padding-top: 29px; }

.tpl-component-text-info.icons[max-width~="1000px"] .text-info-desc {
  font-size: 16px;
  line-height: 28px;
  padding-top: 14px; }

.tpl-component-text-info.icons[max-width~="900px"] .text-info-items {
  flex-direction: column;
  align-items: center; }

.tpl-component-text-info.icons[max-width~="900px"] .text-info-item {
  margin-bottom: 20px;
  width: 70%;
  max-width: 500px; }
  .tpl-component-text-info.icons[max-width~="900px"] .text-info-item:nth-child(odd):after {
    display: none; }

.tpl-component-text-info:not(.icons)[max-width~="800px"] .text-info-items {
  flex-direction: column; }

.tpl-component-text-info:not(.icons)[max-width~="800px"] .text-info-item {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  display: flex; }

.tpl-component-text-info:not(.icons)[max-width~="800px"] .text-info-desc {
  max-width: 300px; }

.tpl-component-text-info:not(.icons)[max-width~="800px"] .text-info-icon {
  align-self: center;
  margin: 0; }

.tpl-component-text-info:not(.icons)[max-width~="800px"] .text-info-caption {
  padding-left: 30px; }

.tpl-component-text-info:not(.icons)[max-width~="800px"] .text-info-title {
  padding-top: 0; }

.tpl-component-text-info.icons[max-width~="720px"] .text-info-inside {
  display: block; }

.tpl-component-text-info:not(.icons)[max-width~="700px"] .text-info-content {
  padding: 50px 0 0px; }

.tpl-component-text-info:not(.icons)[max-width~="700px"] .text-info-header {
  font-size: 28px;
  line-height: 32px; }

.tpl-component-text-info:not(.icons)[max-width~="700px"] .text-info-text {
  padding-top: 30px;
  font-size: 17px;
  line-height: 28px; }

.tpl-component-text-info:not(.icons)[max-width~="700px"] .text-info-item {
  padding: 15px 10px; }

.tpl-component-text-info:not(.icons)[max-width~="500px"] {
  margin-top: 11px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-header {
    font-size: 20px;
    line-height: 24px;
    max-width: 300px;
    position: relative; }
    .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-header:after {
      position: absolute;
      bottom: -22px;
      left: 0;
      right: 0;
      width: 140px;
      border-bottom: 1px solid var(--color-border-10);
      height: 1px;
      content: ""; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-text {
    font-size: 12.5px;
    line-height: 19px;
    padding-top: 48px; }
    .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-text p {
      padding: 11px 0 5px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-content {
    padding: 48px 0 0px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-title {
    font-size: 12.5px;
    line-height: 15px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-desc {
    font-size: 11px;
    line-height: 12.5px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-icon {
    width: 40px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-icon:before {
    font-size: 35px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-items {
    padding: 15px 0px 29px 0px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-item {
    padding: 24px 0px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-item--delivery .text-info-icon:before {
    font-size: 26px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .text-info-caption {
    padding-left: 32px;
    padding-top: 5px; }
  .tpl-component-text-info:not(.icons)[max-width~="500px"] .inner-content {
    padding: 0 15px; }

.tpl-component-text-info.icons[max-width~="500px"] .text-info-title {
  font-size: 18px;
  line-height: 23px; }

.tpl-component-text-info.icons[max-width~="500px"] .text-info-desc {
  font-size: 14px;
  line-height: 22px; }

.tpl-component-text-info.icons[max-width~="500px"] .text-info-item {
  width: 95%; }
