
<div class="tpl-component-text-info">
  <div class="block-content">
    <div class="inner-content flex-container">
      <div class="text-info-content">
        <div class="text-info-header title-secondary">Интернет-магазин мебели и деталей для уютного дома</div>
        <div class="text-info-text">
          <p>Большой мебельный магазин в Москве. Обратившись в нашу компанию, каждый покупатель может создать свой неповторимый стиль помещения, гармонично подобрав предметы интерьера. Ведь именно красивая и расслабляющая обстановка в доме создает благоприятную атмосферу, привносит спокойствие и уют.</p>
          <p>Мы предоставляем доставку и сборку товаров, гарантию от производителя, возможность покупки в кредит. Мы сами строим свою сбытовую сеть, минуя лишних посредников, поэтому мы можем предложить качественную мебель по доступной цене.</p>
          <p>Ведь именно красивая и расслабляющая обстановка в доме создает благоприятную атмосферу, привносит спокойствие и уют.</p>
        </div>
      </div>
      <div class="text-info-items">
        <div class="text-info-item text-info-item--delivery">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">Бесплатная доставка</div>
            <div class="text-info-desc">По Москве и Московской области</div>
          </div>
        </div>
        <div class="text-info-item text-info-item--moneyback">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">60 дней для возврата</div>
            <div class="text-info-desc">Вы можете вернуть любую вещь</div>
          </div>
        </div>
        <div class="text-info-item text-info-item--safety">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">Безопасная сделка</div>
            <div class="text-info-desc">Гарантия вашей безопасности 100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>