
<div class="tpl-component-text-info icons js-tab-select-list" id="delivery">
  <div class="text-info-inside">
    <div class="block-content">
      <div class="text-info-items flex-container">
        <div class="text-info-item text-info-item--delivery">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">Бесплатная доставка</div>
            <div class="text-info-desc">Доставляем бесплатно до двери по Москве и Московской области. Сборка мебели оплачивается отдельно. С тарифами по сборке можно ознакомиться  <a class="link link--orange link--noUnderline" href="#">здесь</a></div>
          </div>
        </div>
        <div class="text-info-item text-info-item--moneyback">
          <div class="text-info-icon"></div>
          <div class="text-info-caption">
            <div class="text-info-title">60 дней для возврата</div>
            <div class="text-info-desc">Собственная система оценки гарантирует высокое качество товара. Плюс гарантия от производителей.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>