.tpl-component-text-info.icons {
  padding-top: 1px;
  margin-top: -1px; }
  .tpl-component-text-info.icons .text-info-inside {
    display: none; }
  .tpl-component-text-info.icons.active .text-info-inside {
    display: block; }
  .tpl-component-text-info.icons .text-info-items {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5.6% 0 5.9%; }
  .tpl-component-text-info.icons .text-info-item {
    width: 50%;
    padding: 2% 7% 4%;
    position: relative; }
    .tpl-component-text-info.icons .text-info-item:nth-child(odd):after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 100%;
      border-right: 1px solid var(--color-border-17);
      content: ""; }
  .tpl-component-text-info.icons .text-info-title {
    font-size: 24px;
    line-height: 32px;
    padding-top: 49px; }
  .tpl-component-text-info.icons .text-info-desc {
    font-size: 18px;
    line-height: 30px;
    padding-top: 16px; }
