.tpl-component-promo-slider[max-width~="1350px"] .slider-content {
  padding: 5% 7% 80px 5.7%; }

.tpl-component-promo-slider[max-width~="1250px"] .slider-content {
  padding: 40px 7% 30px 6%; }

.tpl-component-promo-slider.simple[max-width~="1250px"] .slider-content {
  padding: 73px 7% 60px 11.5%; }

.tpl-component-promo-slider[max-width~="1000px"] .slider {
  margin: 37px auto 20px; }
  .tpl-component-promo-slider[max-width~="1000px"] .slider .fotorama__nav-wrap {
    display: none; }
  .tpl-component-promo-slider[max-width~="1000px"] .slider-content {
    padding: 60px 7% 60px 6%;
    min-width: 470px; }
  .tpl-component-promo-slider[max-width~="1000px"] .slider-header {
    font-size: 28px;
    line-height: 36px; }
  .tpl-component-promo-slider[max-width~="1000px"] .slider-postfix {
    max-width: 450px;
    font-size: 17px;
    line-height: 28px;
    padding-top: 25px; }
  .tpl-component-promo-slider[max-width~="1000px"] .slider-button {
    margin-top: 15px; }

.tpl-component-promo-slider.simple[max-width~="1000px"] .slider {
  margin: 0px auto 20px; }

.tpl-component-promo-slider[max-width~="800px"] .slider-header {
  font-size: 26px;
  line-height: 33px; }

.tpl-component-promo-slider[max-width~="800px"] .slider-postfix {
  font-size: 16px;
  line-height: 24px; }

.tpl-component-promo-slider[max-width~="800px"] .slider-content {
  min-width: 400px;
  padding: 30px 12% 60px 5%; }

.tpl-component-promo-slider[max-width~="700px"] .slider,
.tpl-component-promo-slider.simple[max-width~="700px"] .slider {
  margin: 13px auto 20px; }
  .tpl-component-promo-slider[max-width~="700px"] .slider-postfix,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider-postfix {
    max-width: 80%;
    margin-left: 0; }
  .tpl-component-promo-slider[max-width~="700px"] .slider-item,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider-item {
    flex-direction: column; }
  .tpl-component-promo-slider[max-width~="700px"] .slider-image,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider-image {
    order: 1;
    height: 255px;
    width: 100%; }
  .tpl-component-promo-slider[max-width~="700px"] .slider-content,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider-content {
    order: 2;
    width: 100%;
    max-width: 100%;
    padding: 38px 5% 70px 4.7%;
    min-width: 0; }
  .tpl-component-promo-slider[max-width~="700px"] .slider .button,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider .button {
    margin-top: 17px; }
  .tpl-component-promo-slider[max-width~="700px"] .slider-badge,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider-badge {
    right: 9px;
    top: 17px;
    transform: none;
    left: auto; }
  .tpl-component-promo-slider[max-width~="700px"] .slider .discount,
  .tpl-component-promo-slider.simple[max-width~="700px"] .slider .discount {
    min-height: 90px;
    min-width: 90px; }
    .tpl-component-promo-slider[max-width~="700px"] .slider .discount-wrapper,
    .tpl-component-promo-slider.simple[max-width~="700px"] .slider .discount-wrapper {
      padding: 24px 10px 15px; }
    .tpl-component-promo-slider[max-width~="700px"] .slider .discount-amount,
    .tpl-component-promo-slider.simple[max-width~="700px"] .slider .discount-amount {
      font-size: 22px; }
    .tpl-component-promo-slider[max-width~="700px"] .slider .discount-desc,
    .tpl-component-promo-slider.simple[max-width~="700px"] .slider .discount-desc {
      font-size: 10px;
      line-height: 13px;
      padding-top: 0px; }

.tpl-component-promo-slider.simple[max-width~="700px"] .slider-image {
  height: 300px; }

.tpl-component-promo-slider[max-width~="500px"] .slider-header,
.tpl-component-promo-slider.simple[max-width~="500px"] .slider-header {
  font-size: 20px;
  line-height: 24px; }

.tpl-component-promo-slider[max-width~="500px"] .slider-postfix,
.tpl-component-promo-slider.simple[max-width~="500px"] .slider-postfix {
  font-size: 14px;
  line-height: 22px;
  padding-top: 16px;
  max-width: 100%; }

.tpl-component-promo-slider[max-width~="500px"] .slider-content,
.tpl-component-promo-slider.simple[max-width~="500px"] .slider-content {
  padding: 38px 5% 29px 4.7%; }

.tpl-component-promo-slider[max-width~="500px"] .slider .button,
.tpl-component-promo-slider.simple[max-width~="500px"] .slider .button {
  margin-top: 0px; }

.tpl-component-promo-slider[max-width~="500px"] .slider-item,
.tpl-component-promo-slider.simple[max-width~="500px"] .slider-item {
  flex-direction: column; }

.tpl-component-promo-slider[max-width~="500px"] .slider .discount,
.tpl-component-promo-slider.simple[max-width~="500px"] .slider .discount {
  min-height: 75px;
  min-width: 75px; }
  .tpl-component-promo-slider[max-width~="500px"] .slider .discount-wrapper,
  .tpl-component-promo-slider.simple[max-width~="500px"] .slider .discount-wrapper {
    padding: 18px 10px 15px; }
  .tpl-component-promo-slider[max-width~="500px"] .slider .discount-amount,
  .tpl-component-promo-slider.simple[max-width~="500px"] .slider .discount-amount {
    font-size: 20px; }
  .tpl-component-promo-slider[max-width~="500px"] .slider .discount-desc,
  .tpl-component-promo-slider.simple[max-width~="500px"] .slider .discount-desc {
    font-size: 9px;
    line-height: 12px;
    padding-top: 0px; }

.tpl-component-promo-slider[max-width~="400px"] .slider-postfix,
.tpl-component-promo-slider.simple[max-width~="400px"] .slider-postfix {
  font-size: 12.5px;
  line-height: 19px; }

.tpl-component-promo-slider[max-width~="400px"] .slider .button,
.tpl-component-promo-slider.simple[max-width~="400px"] .slider .button {
  margin-top: 17px; }
