
<div class="tpl-component-promo-slider">
  <div class="block-content">
    <div class="slider fotorama" data-width="100%" data-height="485" data-click="false" data-autoplay="true" data-maxwidth="1420" data-arrows="false" data-loop="true">
      <section class="slider-item">
        <div class="slider-content">
          <h2 class="slider-header">Для крепкого сна и добрых сновидений</h2>
          <div class="slider-postfix">Дом начинается с уюта, а спальня – с кровати. Соберите свой идеальный спальный гарнитур со скидкой 20%.</div><a class="button button--primary button--arrow button--transparent" href="#">К покупкам</a>
        </div>
        <div class="slider-image" style="background-image: url(img/sliders/slider3.png);  ;"> 
          <div class="slider-badge discount">
            <div class="discount-wrapper">
              <div class="discount-amount">-30%</div>
              <div class="discount-desc">на двери</div>
            </div>
          </div>
        </div>
      </section>
      <section class="slider-item">
        <div class="slider-content">
          <h2 class="slider-header">Для крепкого сна</h2>
          <div class="slider-postfix">Дом начинается с уюта, а спальня – с кровати. Соберите свой идеальный спальный гарнитур со скидкой 20%. Соберите свой идеальный спальный гарнитур со скидкой 20%.</div><a class="button button--primary button--arrow button--transparent" href="#">К покупкам</a>
        </div>
        <div class="slider-image" style="background-image: url(img/sliders/slider1.png);  ;"> 
          <div class="slider-badge discount">
            <div class="discount-wrapper">
              <div class="discount-amount">-20%</div>
              <div class="discount-desc">на всё</div>
            </div>
          </div>
        </div>
      </section>
      <section class="slider-item">
        <div class="slider-content">
          <h2 class="slider-header">Для крепкого сна и добрых сновидений</h2>
          <div class="slider-postfix">Дом начинается с уюта, а спальня – с кровати. Соберите свой идеальный спальный гарнитур со скидкой 20%.</div><a class="button button--primary button--arrow button--transparent" href="#">К покупкам</a>
        </div>
        <div class="slider-image" style="background-image: url(img/sliders/slider2.png);  ;"> 
          <div class="slider-badge discount">
            <div class="discount-wrapper">
              <div class="discount-amount">-20%</div>
              <div class="discount-desc">на всё</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>