
<div class="tpl-component-promo-slider simple">
  <div class="slider fotorama" data-width="100%" data-height="420" data-auto="false" data-click="false" data-maxwidth="1420" data-nav="false" data-arrows="false" data-loop="true">
    <section class="slider-item">
      <div class="slider-content">
        <h2 class="slider-header">Для шумных компаний и праздников</h2>
        <div class="slider-postfix">Диваны и кресла, подушки и пледы, а также декор — в разделе Для гостиной         </div>
      </div>
      <div class="slider-image" style="background-image: url(img/sliders/slider5.png);  ;"> </div>
    </section>
    <section class="slider-item">
      <div class="slider-content">
        <h2 class="slider-header">Для шумных компаний и праздников</h2>
        <div class="slider-postfix">Диваны и кресла, подушки и пледы, а также декор — в разделе Для гостиной</div>
      </div>
      <div class="slider-image" style="background-image: url(img/sliders/slider1.png);  ;"> </div>
    </section>
    <section class="slider-item">
      <div class="slider-content">
        <h2 class="slider-header">Для шумных компаний и праздников</h2>
        <div class="slider-postfix">Диваны и кресла, подушки и пледы, а также декор — в разделе Для гостиной</div>
      </div>
      <div class="slider-image" style="background-image: url(img/sliders/slider2.png);  ;"> </div>
    </section>
  </div>
</div>