.tpl-component-header-top-part {
  position: relative;
  min-height: 90px;
  border-bottom: 1px solid var(--color-border-1);
  background-color: var(--color-bg-7); }
  .tpl-component-header-top-part .block-content {
    justify-content: space-between; }
  .tpl-component-header-top-part .logo {
    padding: 22px 30px 12px 4px; }
  .tpl-component-header-top-part .site-nav {
    flex-grow: 1;
    padding: 26px 6% 12px; }
    .tpl-component-header-top-part .site-nav li {
      display: inline-block;
      vertical-align: top; }
    .tpl-component-header-top-part .site-nav-link {
      font-size: 12px;
      line-height: 36px;
      font-family: var(--font-2);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding-right: 27px;
      color: var(--color-font-1); }
  .tpl-component-header-top-part .search-block {
    padding: 27px 0 12px;
    position: relative; }
    .tpl-component-header-top-part .search-block.active .search-block-form {
      position: absolute;
      display: flex;
      right: 0;
      top: 27px; }
    .tpl-component-header-top-part .search-block-form {
      display: none;
      z-index: 20; }
    .tpl-component-header-top-part .search-block-input {
      height: 40px;
      background-color: var(--color-bg-7);
      border-radius: 7px;
      padding: 10px 20px; }
      .tpl-component-header-top-part .search-block-input:focus {
        border-color: var(--color-border-20); }
    .tpl-component-header-top-part .search-block-button {
      outline: none;
      border: none;
      position: relative;
      width: 50px;
      height: 50px;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
      display: block; }
      .tpl-component-header-top-part .search-block-button:hover:before {
        color: var(--color-font-5); }
      .tpl-component-header-top-part .search-block-button:before {
        color: var(--color-font-2);
        font-size: 18px;
        line-height: 36px;
        content: '\e610';
        font-family: var(--icons-themify);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center; }
  .tpl-component-header-top-part .cart {
    padding: 25px 0 12px;
    margin-left: 4px; }
    .tpl-component-header-top-part .cart-icon {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: block; }
      .tpl-component-header-top-part .cart-icon:hover:before {
        color: var(--color-font-5); }
      .tpl-component-header-top-part .cart-icon:before {
        color: var(--color-font-2);
        font-size: 18px;
        line-height: 36px;
        content: '\e063';
        font-family: var(--icons-outlined);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center; }
    .tpl-component-header-top-part .cart-counter {
      font-family: var(--font-3);
      font-weight: 700;
      font-size: 10px;
      border-radius: 50%;
      background-color: var(--color-bg-1);
      padding: 3px;
      position: absolute;
      right: 0px;
      top: 2px;
      width: 20px;
      height: 20px;
      line-height: 15px;
      color: var(--color-font-3);
      text-align: center; }
  .tpl-component-header-top-part .profile {
    padding: 26px 0 12px;
    margin-right: -17px;
    margin-left: 9px; }
    .tpl-component-header-top-part .profile-icon {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: block; }
      .tpl-component-header-top-part .profile-icon:hover:before {
        color: var(--color-font-5); }
      .tpl-component-header-top-part .profile-icon:before {
        content: '\e057';
        color: var(--color-font-2);
        font-size: 18px;
        line-height: 36px;
        font-family: var(--icons-outlined);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center; }
  .tpl-component-header-top-part .menu {
    cursor: pointer;
    padding: 10px 5px;
    margin-left: -20px;
    position: relative; }
    .tpl-component-header-top-part .menu.active {
      background-color: var(--color-bg-12); }
      .tpl-component-header-top-part .menu.active .menu-content {
        display: block;
        box-shadow: 0 20px 20px var(--color-bs-2); }
    .tpl-component-header-top-part .menu:hover {
      background: var(--color-bg-12); }
    .tpl-component-header-top-part .menu-icon {
      height: 40px;
      width: 50px;
      position: relative; }
    .tpl-component-header-top-part .menu-line {
      position: absolute;
      width: 25px;
      top: 8px;
      left: 0;
      right: 0;
      height: 1px;
      background: var(--color-bg-2);
      margin: 0 auto; }
      .tpl-component-header-top-part .menu-line--2 {
        top: 18px; }
      .tpl-component-header-top-part .menu-line--3 {
        top: 28px; }
    .tpl-component-header-top-part .menu-content {
      background-color: var(--color-bg-12);
      position: absolute;
      top: 100%;
      left: 0;
      padding: 20px 20px;
      z-index: 20;
      width: 200px;
      display: none; }
    .tpl-component-header-top-part .menu-nav-link {
      font-size: 12px;
      line-height: 18px;
      color: var(--color-font-1);
      font-weight: 700;
      text-transform: uppercase;
      font-family: var(--font-2);
      padding: 4px 0 7px;
      display: block; }
    .tpl-component-header-top-part .menu-categories {
      padding-top: 20px; }
      .tpl-component-header-top-part .menu-categories-link {
        font-size: 16px;
        line-height: 20px;
        color: var(--color-font-1);
        font-family: var(--font-4);
        font-weight: 400;
        padding: 4px 0 7px;
        display: block; }
