
<div class="tpl-component-header-top-part">
  <div class="block-content flex-container">
    <div class="menu js-open-block">
      <div class="menu-icon js-open-btn">
        <div class="menu-line menu-line--1"></div>
        <div class="menu-line menu-line--2"></div>
        <div class="menu-line menu-line--3"></div>
      </div>
      <div class="menu-content">
        <ul class="menu-nav">
          <li><a class="menu-nav-link link link--primary" href="#">Коллекции                               </a></li>
          <li><a class="menu-nav-link link link--primary" href="#">Магазины сети</a></li>
          <li><a class="menu-nav-link link link--primary" href="#">Блог</a></li>
          <li><a class="menu-nav-link link link--primary" href="#">О нас</a></li>
          <li><a class="menu-nav-link link link--primary" href="#">Контакты</a></li>
        </ul>
        <ul class="menu-categories">
          <li><a class="menu-categories-link link link--primary" href="#">Для кухни                               </a></li>
          <li><a class="menu-categories-link link link--primary" href="#">Для спальни</a></li>
          <li><a class="menu-categories-link link link--primary" href="#">Для гостиной</a></li>
          <li><a class="menu-categories-link link link--primary" href="#">Для ванной </a></li>
          <li><a class="menu-categories-link link link--primary" href="#">Для прихожей</a></li>
          <li><a class="menu-categories-link link link--primary" href="#">Для лоджий</a></li>
        </ul>
      </div>
    </div>
    <div class="logo"><a class="logo-image link link--primary" href="#"><img src="img/logo.png"/></a></div>
    <ul class="site-nav">
      <li><a class="site-nav-link link link--primary" href="andieelmes.ru">Коллекции                               </a></li>
      <li><a class="site-nav-link link link--primary" href="#">Магазины сети</a></li>
      <li><a class="site-nav-link link link--primary" href="#">Блог</a></li>
      <li><a class="site-nav-link link link--primary" href="#">О нас</a></li>
      <li><a class="site-nav-link link link--primary" href="#">Контакты</a></li>
    </ul>
    <div class="search-block js-open-block">
      <button class="search-block-button js-open-btn" type="button"></button>
      <form class="search-block-form" action="#">
        <input class="input search-block-input"/>
        <button class="search-block-button" type="submit">  </button>
      </form>
    </div>
    <div class="cart"><a class="cart-icon" href="#">
        <div class="cart-counter">16 </div></a></div>
    <div class="profile"><a class="profile-icon js-login-btn" href="#" data-popup="#loginPopup"></a></div>
  </div>
</div>