.tpl-component-product-list[max-width~="1100px"] .product-tabs-container {
  justify-content: space-between;
  width: 100%;
  padding: 30px 0px 10px; }
  .tpl-component-product-list[max-width~="1100px"] .product-tabs-container li {
    margin-left: 0px;
    margin-right: 20px; }

.tpl-component-product-list[max-width~="800px"] .product-tabs {
  overflow: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch; }
  .tpl-component-product-list[max-width~="800px"] .product-tabs-container {
    flex: none;
    display: inline-block;
    white-space: nowrap;
    text-align: left; }
    .tpl-component-product-list[max-width~="800px"] .product-tabs-container li {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
      margin-left: 0;
      margin-right: 20px; }

.tpl-component-product-list[max-width~="500px"] .product-tabs-link {
  font-size: 10px;
  line-height: 12px; }

.tpl-component-product-list[max-width~="500px"] .product-tabs-container {
  padding: 19px 0px 10px; }
  .tpl-component-product-list[max-width~="500px"] .product-tabs-container li {
    margin-right: 24px; }

.tpl-component-product-list[max-width~="500px"] .product-filters {
  flex-direction: column; }

.tpl-component-product-list[max-width~="500px"] .product-viewType {
  margin-top: 10px; }
  .tpl-component-product-list[max-width~="500px"] .product-viewType-item {
    margin-left: 0;
    margin-right: 20px; }

.tpl-component-product-list[max-width~="400px"] .product-tabs-link {
  font-size: 8px;
  line-height: 10px; }
