
<div class="product-controls product-tabs">
  <ul class="product-tabs-container flex-container">
    <li><a class="product-tabs-link active" href="#">Для кухни</a></li>
    <li><a class="product-tabs-link" href="#">Для гостиной</a></li>
    <li><a class="product-tabs-link" href="#">Для спальни</a></li>
    <li><a class="product-tabs-link" href="#">Для ванной </a></li>
    <li><a class="product-tabs-link" href="#">Для прихожей</a></li>
    <li><a class="product-tabs-link" href="#">Для лоджий</a></li>
  </ul>
</div>