.product-tabs {
  text-align: right;
  flex-grow: 1; }
  .product-tabs-container {
    padding: 15px 0px;
    justify-content: flex-end; }
    .product-tabs-container li {
      margin-left: 4.6%; }
  .product-tabs-link {
    font-size: 12px;
    line-height: 16px;
    font-family: var(--font-2);
    font-weight: 700;
    color: var(--color-font-1);
    text-transform: uppercase; }
    .product-tabs-link.active {
      color: var(--color-font-5); }
