.product-viewType {
  display: flex;
  padding-top: 7px; }
  .product-viewType-item {
    position: relative;
    margin-left: 20px;
    cursor: pointer; }
    .product-viewType-item:before {
      font-family: var(--icons-awesome);
      font-size: 20px;
      color: var(--color-font-11); }
    .product-viewType-item:hover:before, .product-viewType-item:active:before {
      color: var(--color-font-8); }
    .product-viewType-item.active:before {
      color: var(--color-font-5); }
      .product-viewType-item.active:before:hover, .product-viewType-item.active:before:active {
        color: var(--color-font-5); }
  .product-viewType-detailed:before {
    content: "\f00b"; }
  .product-viewType-small:before {
    content: "\f00a"; }
  .product-viewType-large:before {
    content: "\f009"; }
