.tpl-component-product-detailed[max-width~="1350px"] .product-detailed-inner {
  padding-left: 5%;
  padding-right: 5%; }

.tpl-component-product-detailed[max-width~="1250px"] .product-detailed-inner {
  padding-left: 3%;
  padding-right: 3%; }

.tpl-component-product-detailed[max-width~="1250px"] .product-detailed-content {
  width: 45.6%; }

.tpl-component-product-detailed[max-width~="1100px"] .product-detailed-thumb {
  width: 80px;
  height: 96px; }

.tpl-component-product-detailed[max-width~="1100px"] .product-detailed-savings {
  line-height: 20px;
  padding-left: 0px;
  padding-bottom: 7px;
  display: block; }

.tpl-component-product-detailed[max-width~="1100px"] .product-detailed-content {
  position: relative; }

.tpl-component-product-detailed[max-width~="1100px"] .product-detailed-buttons .product-buttons-fav {
  position: absolute;
  right: 0;
  top: 35px; }

.tpl-component-product-detailed[max-width~="1000px"] {
  margin-top: 0; }
  .tpl-component-product-detailed[max-width~="1000px"] .block-content {
    padding: 0; }
  .tpl-component-product-detailed[max-width~="1000px"] .product-detailed-inner {
    padding-top: 0; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-inner {
  flex-wrap: wrap; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-desktop {
  width: 100%; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-content {
  width: 100%;
  max-width: 500px; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-thumb {
  width: 100px;
  height: 120px; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-photos {
  justify-content: flex-start; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-photo {
  flex-grow: 1;
  max-width: 100%; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-savings {
  display: inline;
  line-height: 40px;
  padding-left: 3px;
  padding-bottom: 0; }

.tpl-component-product-detailed[max-width~="900px"] .product-detailed-buttons .product-buttons-addToCart {
  width: 100%; }

.tpl-component-product-detailed[max-width~="720px"] .product-detailed-desktop {
  display: none; }

.tpl-component-product-detailed[max-width~="720px"] .product-detailed-mobile {
  display: block;
  width: 100%; }

.tpl-component-product-detailed[max-width~="720px"] .product-detailed-inner {
  padding: 0; }

.tpl-component-product-detailed[max-width~="720px"] .product-detailed-content {
  padding: 29px 30px; }

.tpl-component-product-detailed[max-width~="720px"] .product-detailed-buttons .product-buttons-fav {
  right: 30px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-content {
  padding: 29px 20px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-buttons .product-buttons-fav {
  right: 20px;
  top: 37px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-text {
  min-height: 160px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-title {
  font-size: 20px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-desc {
  font-size: 16px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-savings {
  font-size: 14px;
  display: block;
  padding-left: 0;
  padding-bottom: 20px;
  line-height: 22px; }

.tpl-component-product-detailed[max-width~="500px"] .product-detailed-regularPrice {
  padding: 0 15px; }

.tpl-component-product-detailed[max-width~="500px"] .product-quantity-available {
  font-size: 14px;
  display: block;
  padding-left: 0;
  padding-bottom: 10px;
  line-height: 22px;
  padding-top: 15px; }

.tpl-component-product-detailed[max-width~="400px"] .product-detailed-buttons {
  padding-top: 31px; }
  .tpl-component-product-detailed[max-width~="400px"] .product-detailed-buttons .product-buttons-addToCart {
    padding: 12px 20px;
    font-size: 12px; }
