
<div class="tpl-component-product-detailed">
  <div class="block-content">
    <div class="product-detailed-inner">
      <div class="product-detailed-desktop">
        <div class="product-detailed-photos js-color-photos active" data-color="green">
          <div class="product-detailed-thumbs"><a class="product-detailed-thumb active js-thumb" href="#" style="background-image:url(img/thumbs/thumb3.png);" data-image="img/products/product17.png"></a><a class="product-detailed-thumb js-thumb" href="#" style="background-image:url(img/thumbs/thumb2.png);" data-image="img/products/product18.png"></a><a class="product-detailed-thumb js-thumb" href="#" style="background-image:url(img/thumbs/thumb1.png);" data-image="img/products/product17.png"></a></div>
          <div class="product-detailed-photo"><a class="product-detailed-image js-image" href="#" data-lightbox="image-1" style="background-image:url(img/products/product17.png);"></a></div>
        </div>
        <div class="product-detailed-photos js-color-photos" data-color="red">
          <div class="product-detailed-thumbs"><a class="product-detailed-thumb active js-thumb" href="#" style="background-image:url(img/products/product2.png);" data-image="img/products/product2.png"></a><a class="product-detailed-thumb js-thumb" href="#" style="background-image:url(img/products/product3.png);" data-image="img/products/product3.png"></a><a class="product-detailed-thumb js-thumb" href="#" style="background-image:url(img/products/product4.png);" data-image="img/products/product4.png"></a></div>
          <div class="product-detailed-photo"><a class="product-detailed-image js-image" href="#" data-lightbox="image-2" style="background-image:url(img/products/product17.png);"></a></div>
        </div>
        <div class="product-detailed-photos js-color-photos" data-color="grey">
          <div class="product-detailed-thumbs"><a class="product-detailed-thumb active js-thumb" href="#" style="background-image:url(img/thumbs/thumb3.png);" data-image="img/products/product17.png"></a><a class="product-detailed-thumb js-thumb" href="#" style="background-image:url(img/thumbs/thumb2.png);" data-image="img/products/product18.png"></a><a class="product-detailed-thumb js-thumb" href="#" style="background-image:url(img/thumbs/thumb1.png);" data-image="img/products/product17.png"></a></div>
          <div class="product-detailed-photo"><a class="product-detailed-image js-image" href="#" data-lightbox="image-3" style="background-image:url(img/products/product17.png);"></a></div>
        </div>
      </div>
      <div class="product-detailed-mobile">
        <div class="product-detailed-swiper js-color-photos active" data-color="green">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product17.png);"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product18.png);"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product17.png);"></div>
                </div>
              </div>
            </div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
        <div class="product-detailed-swiper js-color-photos" data-color="red">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product2.png);"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product3.png);"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product4.png);"></div>
                </div>
              </div>
            </div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
        <div class="product-detailed-swiper js-color-photos" data-color="grey">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product17.png);"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product18.png);"></div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-swiper-photo">
                  <div class="product-swiper-image" style="background-image:url(img/products/product17.png);"></div>
                </div>
              </div>
            </div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
      <div class="product-detailed-content">
        <div class="product-detailed-info">
          <div class="product-detailed-text">
            <div class="product-detailed-title">Помощник     </div>
            <div class="product-detailed-desc">Стул деревянный</div>
            <div class="product-detailed-prices"><span class="product-detailed-oldPrice"> 8 990  </span><span class="product-detailed-regularPrice">2 199 <span>руб.</span></span><span class="product-detailed-savings">Вы сэкономите  <span>2 000 </span><span> руб.</span></span></div>
          </div>
          <div class="product-detailed-colors product-colors"><span class="product-colors-title">Цвет</span><span class="product-color-options">
              <div class="product-color active product-color--green js-color-btn" data-color="green"></div>
              <div class="product-color product-color--brown js-color-btn" data-color="red"></div>
              <div class="product-color product-color--grey js-color-btn" data-color="grey"></div></span></div>
          <div class="product-detailed-quantity product-quantity js-quantity"><span class="product-quantity-title">К-во</span><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span><span class="product-quantity-available">В наличии <span>3 шт.</span></span></div>
        </div>
        <div class="product-detailed-buttons product-buttons">
          <div class="product-detailed-top">
            <button class="button button--primary product-buttons-addToCart">Добавить в корзину </button>
            <button class="button button--round product-buttons-fav js-fav-btn" data-popup="#favPopup"></button>
          </div>
          <div class="product-detailed-bottom">
            <button class="button button--transparent button--icon product-buttons-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buttons-compare js-compare-btn" data-popup="#comparePopup">сравнить </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>