.tpl-component-subscribe[max-width~="1000px"] .subscribe-form {
  width: 100%;
  max-width: 462px; }

.tpl-component-subscribe[max-width~="700px"] .subscribe-inner {
  padding: 59px 30px 86px; }

.tpl-component-subscribe[max-width~="600px"] .subscribe-header {
  font-size: 23px;
  line-height: 28px; }

.tpl-component-subscribe[max-width~="600px"] .subscribe-form {
  flex-direction: column;
  padding-top: 21px; }
  .tpl-component-subscribe[max-width~="600px"] .subscribe-form .input {
    text-align: center;
    margin-left: 0;
    padding: 11px 20px;
    margin-bottom: 12px;
    width: 100%; }
  .tpl-component-subscribe[max-width~="600px"] .subscribe-form .input--typeOne {
    border-radius: 7px; }
  .tpl-component-subscribe[max-width~="600px"] .subscribe-form .button {
    padding: 12px 20px; }
  .tpl-component-subscribe[max-width~="600px"] .subscribe-form .button--typeTwo {
    border-radius: 7px; }

.tpl-component-subscribe[max-width~="500px"] .subscribe-inner {
  margin-top: 14px;
  padding: 42px 17px 35px;
  margin-bottom: 25px; }

.tpl-component-subscribe[max-width~="500px"] .subscribe-header {
  font-size: 20px;
  line-height: 24px; }

.tpl-component-subscribe[max-width~="500px"] .subscribe-text {
  font-size: 12.5px;
  line-height: 18px;
  padding: 13px 0; }

.tpl-component-subscribe[max-width~="500px"] .subscribe-cut {
  height: 65px;
  left: 19.2%; }
  .tpl-component-subscribe[max-width~="500px"] .subscribe-cut:before {
    font-size: 25px; }

.tpl-component-subscribe[max-width~="500px"] .subscribe-form .input {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 12px;
  width: 100%; }
  .tpl-component-subscribe[max-width~="500px"] .subscribe-form .input::-webkit-input-placeholder, .tpl-component-subscribe[max-width~="500px"] .subscribe-form .input::-moz-placeholder, .tpl-component-subscribe[max-width~="500px"] .subscribe-form .input::-ms-input-placeholder, .tpl-component-subscribe[max-width~="500px"] .subscribe-form .input::-moz-placeholder {
    font-size: 16px;
    line-height: 19px;
    font-family: var(--font-2);
    color: var(--color-font-2);
    font-weight: 400;
    text-align: center; }

.tpl-component-subscribe.promotion[max-width~="500px"] .subscribe-header {
  font-size: 25px;
  line-height: 30px; }

.tpl-component-subscribe.promotion[max-width~="500px"] .subscribe-cut {
  top: -18px;
  width: 30px;
  height: 35px;
  left: 27px; }
  .tpl-component-subscribe.promotion[max-width~="500px"] .subscribe-cut:before {
    font-size: 30px; }

.tpl-component-subscribe.promotion[max-width~="500px"] .subscribe-inner {
  padding-top: 40px;
  padding-bottom: 60px; }

.tpl-component-subscribe.promotion[max-width~="500px"] .subscribe-text {
  font-size: 16px;
  line-height: 22px;
  padding: 20px 0; }

.tpl-component-subscribe.promotion[max-width~="500px"] .subscribe-form .button {
  padding: 15px 20px; }

.tpl-component-subscribe[max-width~="400px"] .subscribe-form .input {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 9px; }
  .tpl-component-subscribe[max-width~="400px"] .subscribe-form .input::-webkit-input-placeholder, .tpl-component-subscribe[max-width~="400px"] .subscribe-form .input::-moz-placeholder, .tpl-component-subscribe[max-width~="400px"] .subscribe-form .input::-ms-input-placeholder, .tpl-component-subscribe[max-width~="400px"] .subscribe-form .input::-moz-placeholder {
    font-size: 11px;
    line-height: 13px; }

.tpl-component-subscribe.promotion[max-width~="400px"] .subscribe-form .input {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 12px; }
  .tpl-component-subscribe.promotion[max-width~="400px"] .subscribe-form .input::-webkit-input-placeholder, .tpl-component-subscribe.promotion[max-width~="400px"] .subscribe-form .input::-moz-placeholder, .tpl-component-subscribe.promotion[max-width~="400px"] .subscribe-form .input::-ms-input-placeholder, .tpl-component-subscribe.promotion[max-width~="400px"] .subscribe-form .input::-moz-placeholder {
    font-size: 14px;
    line-height: 24px; }

@media (max-width: 1000px) {
  .tpl-component-subscribe.promotion {
    display: none; }
    .tpl-component-subscribe.promotion.copy {
      display: block; } }
