
<div class="tpl-component-subscribe">
  <div class="block-content">
    <div class="subscribe-inner">
      <div class="subscribe-header">Подпишитесь и получайте дополнительные скидки</div>
      <div class="subscribe-text">Станьте первым, кто узнаёт последние новости и получает эксклюзивные предложения</div>
      <form class="subscribe-form">
        <div class="subscribe-field js-subscribe-form-email js-subscribe-form-input">
          <input class="input input--typeOne input--primary" type="email" placeholder="Введите свой email"/>
        </div>
        <button class="button button--primary button--typeTwo js-subscribe-form-btn">подписаться</button>
      </form>
      <div class="subscribe-cut"></div>
    </div>
  </div>
</div>