.tpl-component-subscribe {
  background-color: var(--color-bg-8);
  overflow: hidden; }
  .tpl-component-subscribe .subscribe-inner {
    margin-top: 62px;
    margin-bottom: 50px;
    padding: 59px 80px 86px;
    border: 2px dashed var(--color-border-7);
    text-align: center;
    position: relative; }
  .tpl-component-subscribe .subscribe-header {
    font-family: var(--font-3);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    color: var(--color-font-2);
    text-align: center; }
  .tpl-component-subscribe .subscribe-text {
    font-family: var(--font-4);
    font-size: 16px;
    line-height: 26px;
    color: var(--color-font-2);
    text-align: center;
    padding: 7px 0; }
  .tpl-component-subscribe .subscribe-form {
    padding-top: 24px;
    width: 56%;
    margin: 0 auto;
    display: flex; }
    .tpl-component-subscribe .subscribe-form .input {
      width: 100%;
      margin-left: 3px;
      padding: 14px 28px; }
    .tpl-component-subscribe .subscribe-form .button {
      padding: 16px 27px; }
  .tpl-component-subscribe .subscribe-cut {
    position: absolute;
    width: 60px;
    height: 65px;
    background-color: var(--color-bg-8);
    left: 11.2%;
    top: -34px;
    transform: rotate(90deg); }
    .tpl-component-subscribe .subscribe-cut:before {
      content: "\e613";
      font-size: 30px;
      color: var(--color-border-7);
      font-family: var(--icons-themify);
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%); }
  .tpl-component-subscribe .subscribe-field {
    position: relative;
    flex-grow: 1; }
  .tpl-component-subscribe .subscribe-error {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 18px); }
    .tpl-component-subscribe .subscribe-error-text {
      padding: 10px 10px;
      width: 160px;
      border-radius: 5px;
      background-color: var(--color-bg-7);
      position: relative;
      border: 1px solid var(--color-bg-15);
      font-size: 16px;
      line-height: 22px;
      font-family: var(--font-2);
      color: var(--color-font-2);
      font-weight: 400; }
      .tpl-component-subscribe .subscribe-error-text:after, .tpl-component-subscribe .subscribe-error-text:before {
        left: calc(50% - 5px);
        bottom: -19px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute; }
      .tpl-component-subscribe .subscribe-error-text:after {
        border-color: var(--color-bg-8);
        border-top-color: var(--color-bg-7);
        border-width: 9px; }
      .tpl-component-subscribe .subscribe-error-text:before {
        border-color: transparent;
        border-top-color: var(--color-bg-15);
        border-width: 9px;
        left: calc(50% - 5px); }
