.tpl-component-product-list {
  background-color: var(--color-bg-7);
  margin-top: 60px; }
  .tpl-component-product-list .product-list {
    justify-content: space-between;
    padding: 42px 0 18px; }
    .tpl-component-product-list .product-list-top {
      border-bottom: 2px solid var(--color-border-4);
      padding: 41px 0 7px;
      justify-content: space-between; }
    .tpl-component-product-list .product-list:after {
      content: '';
      height: 1px;
      display: block;
      flex-basis: 25%;
      max-width: 340px;
      min-width: 340px; }
  .tpl-component-product-list.tabs .product-list {
    display: none; }
  .tpl-component-product-list.tabs .product-list.active {
    display: flex; }
  .tpl-component-product-list.detailed .product-item {
    flex-basis: 100%;
    max-width: 100%;
    flex-direction: row;
    min-height: 205px;
    border-bottom: 1px solid var(--color-border-11);
    padding: 5px 0 22px;
    margin-bottom: 0;
    margin: 0 4.7%; }
  .tpl-component-product-list.detailed .product-left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1; }
  .tpl-component-product-list.detailed .product-image {
    width: 180px;
    height: 180px; }
  .tpl-component-product-list.detailed .product-info {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 54px 9.1% 0 4.5%; }
  .tpl-component-product-list.detailed .product-top {
    padding-top: 17px; }
  .tpl-component-product-list.detailed .product-discount {
    font-size: 12px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    top: -5px;
    right: -5px; }
  .tpl-component-product-list.detailed .product-title {
    font-size: 16px;
    line-height: 19px;
    text-align: left; }
  .tpl-component-product-list.detailed .product-desc {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    padding-top: 10px; }
  .tpl-component-product-list.detailed .product-price {
    font-size: 16px;
    padding-top: 23px; }
  .tpl-component-product-list.detailed .product-buy {
    display: block;
    padding: 67px 0 0; }
    .tpl-component-product-list.detailed .product-buy-addToCart {
      font-size: 12px;
      font-weight: 700;
      padding: 10px 0;
      width: 200px;
      border-radius: 4px; }
    .tpl-component-product-list.detailed .product-buy-top {
      text-align: left;
      display: flex; }
    .tpl-component-product-list.detailed .product-buy-fav {
      font-size: 20px;
      height: 42px;
      width: 42px;
      margin-left: 17px;
      position: relative;
      margin-top: -2px; }
      .tpl-component-product-list.detailed .product-buy-fav:before {
        font-family: var(--icons-works);
        content: '"';
        font-weight: 400;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .tpl-component-product-list.detailed .product-buy-quantity {
      margin-right: 18px; }
    .tpl-component-product-list.detailed .product-buy-buyNow {
      margin-right: 5px; }
    .tpl-component-product-list.detailed .product-buy-buyNow, .tpl-component-product-list.detailed .product-buy-compare {
      margin-top: 18px;
      padding-left: 22px;
      font-size: 8px;
      font-weight: 400; }
      .tpl-component-product-list.detailed .product-buy-buyNow:before, .tpl-component-product-list.detailed .product-buy-compare:before {
        position: absolute;
        top: -1px;
        left: 3px;
        content: '/';
        font-size: 14px;
        font-weight: 400;
        font-family: var(--icons-works); }
    .tpl-component-product-list.detailed .product-buy-bottom {
      padding-top: 30px;
      text-align: left; }
  .tpl-component-product-list.detailed .product-buttons {
    display: none; }
