
<div class="tpl-component-product-list filters detailed">
  <div class="product-list-top flex-container">
    <div class="product-controls product-filters flex-container">
      <div class="product-filter product-sort">
        <div class="product-sort-title">сортировать</div>
        <div class="product-sort-select select">
          <select class="product-select" name="productSort" data-custom-class="product-select">
            <option value="popularity">По популярности</option>
            <option value="priceLowToHight">От меньшей к большей цене</option>
            <option value="priceHighToLow">От большей к меньшей цене            </option>
            <option value="new">По новинкам</option>
          </select>
        </div>
      </div>
      <div class="product-filter product-viewType">
        <div class="product-viewType-item product-viewType-large js-view-type" data-type="card"></div>
        <div class="product-viewType-item product-viewType-detailed js-view-type active" data-type="list"></div>
      </div>
    </div>
  </div>
  <div class="product-list flex-container"><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product1.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Цепи и кольца</div>
            <div class="product-desc">Лампы металлические, 3 шт</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product9.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Ханна</div>
            <div class="product-desc">Ваза с узким горлышком</div>
          </div>
          <div class="product-price">756<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product10.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Столькгольм</div>
            <div class="product-desc">Стул деревянный</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product11.png"/></div>
          <div class="product-discount">-70%</div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Суккулент</div>
            <div class="product-desc">В горшочке</div>
          </div>
          <div class="product-price">100 100<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product12.png"/></div>
          <div class="product-discount">-70%</div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Рамочка для фотографий</div>
            <div class="product-desc">Коллекция Золото</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product13.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Будда</div>
            <div class="product-desc">Статуэтка, серебро</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product14.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Луанна</div>
            <div class="product-desc">Растение в горшке</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product15.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Чехлы на подушку</div>
            <div class="product-desc">Коллекция Золото</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a><a class="product-item" href="#">
      <div class="product-left">
        <div class="product-picture">
          <div class="product-image"><img src="img/products/product16.png"/></div>
        </div>
        <div class="product-info">
          <div class="product-top">
            <div class="product-title">Сухой букет</div>
            <div class="product-desc">Коллекция Золото</div>
          </div>
          <div class="product-price">8 660<span> руб. </span></div>
        </div>
      </div>
      <div class="product-buy">
        <div class="product-buy-top">
          <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
              <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
              <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
              <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
          <div class="product-buy-buttons">
            <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
            <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
          </div>
        </div>
        <div class="product-buy-bottom">
          <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
          <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
        </div>
      </div></a>
  </div>
  <div class="pagination product-pagination">
    <div class="pagination-inner"><a class="pagination-btn pagination-btn--prev" href="#">Назад</a>
      <div class="pagination-items"><a class="pagination-item" href="#">1</a><a class="pagination-item active" href="#">2</a><a class="pagination-item" href="#">3</a><a class="pagination-item" href="#">...</a><a class="pagination-item" href="#">36</a></div><a class="pagination-btn pagination-btn--next" href="#">Дальше</a>
    </div>
  </div>
  <div class="product-buttons">
    <button class="product-more button button--transparent button--showMore" type="button">Показать ещё</button>
  </div>
</div>