.tpl-component-product-list.simple {
  margin-top: 0;
  padding-top: 1px;
  margin-top: -1px; }
  .tpl-component-product-list.simple .product-list-inside {
    display: none;
    padding: 0px 0 18px; }
  .tpl-component-product-list.simple.active .product-list-inside {
    display: block; }
  .tpl-component-product-list.simple .product-list-top {
    padding: 51px 0 17px; }
