
<div class="tpl-component-product-list simple js-tab-select-list" id="similar">
  <div class="product-list-inside">
    <div class="block-content">
      <div class="product-list-top flex-container">
        <div class="product-list-header title-italic">Вам также понравится</div>
      </div>
      <div class="product-list flex-container js-tabs-filter-list"><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product1.png"/></div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Цепи и кольца</div>
                <div class="product-desc">Лампы металлические, 3 шт</div>
              </div>
              <div class="product-price">8 660<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product9.png"/></div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Ханна</div>
                <div class="product-desc">Ваза с узким горлышком</div>
              </div>
              <div class="product-price">756<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product10.png"/></div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Столькгольм</div>
                <div class="product-desc">Стул деревянный</div>
              </div>
              <div class="product-price">8 660<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a><a class="product-item" href="#">
          <div class="product-left">
            <div class="product-picture">
              <div class="product-image"><img src="img/products/product11.png"/></div>
              <div class="product-discount">-70%</div>
            </div>
            <div class="product-info">
              <div class="product-top">
                <div class="product-title">Суккулент</div>
                <div class="product-desc">В горшочке</div>
              </div>
              <div class="product-price">100 100<span> руб. </span></div>
            </div>
          </div>
          <div class="product-buy">
            <div class="product-buy-top">
              <div class="product-buy-quantity js-quantity product-quantity"><span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input" name="product-quantity" value="1" max="100" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span></div>
              <div class="product-buy-buttons">
                <button class="button button--transparent button--icon product-buy-buyNow js-quickOrder-btn" data-popup="#quickOrderPopup">купить сейчас</button>
                <button class="button button--transparent button--icon product-buy-compare js-compare-btn" data-popup="#comparePopup">сравнить</button>
              </div>
            </div>
            <div class="product-buy-bottom">
              <button class="button button--primary product-buy-addToCart">Добавить в корзину </button>
              <button class="button button--round product-buy-fav js-fav-btn" data-popup="#favPopup"></button>
            </div>
          </div></a>
      </div>
    </div>
  </div>
</div>