
<div class="tpl-component-cart-page js-cart">
  <div class="cart-page-top">
    <div class="cart-page-labels js-stage-labels"><span class="cart-page-label active js-stage-label" data-stage="#stageCart" data-id="1">Ваша корзина</span><span class="cart-page-label js-stage-label" data-stage="#stageDelivery" data-id="2">Доставка</span><span class="cart-page-label js-stage-label" data-stage="#stagePayment" data-id="3">Оплата</span><span class="cart-page-label js-stage-label" data-stage="#stageOk" data-id="4">Заказ принят</span></div>
  </div>
  <form class="cart-page-stage cart-page-stage--cart active js-cart-stage js-stage-form" id="stageCart">
    <div class="cart-page-content">
      <div class="cart-stage-top flex-container">
        <div class="cart-page-table">
          <div class="cart-page-header"> 
            <div class="cart-page-column cart-page-column--title">
              <div class="cart-stage-label">Товар </div>
            </div>
            <div class="cart-page-column cart-page-column--price"> 
              <div class="cart-stage-label">Цена </div>
            </div>
            <div class="cart-page-column cart-page-column--quantity"> 
              <div class="cart-stage-label">К-во </div>
            </div>
            <div class="cart-page-column cart-page-column--sum"> 
              <div class="cart-stage-label">Сумма </div>
            </div>
            <div class="cart-page-column cart-page-column--changeStatus"></div>
          </div>
          <div class="cart-page-row js-cart-item">
            <input class="js-cart-item-status" type="hidden" value="0" name="nameItemDeleted"/>
            <div class="cart-page-column cart-page-column--title">
              <div class="cart-page-image" style="background-image:url(img/products/product17.png);"></div>
              <div class="cart-page-info">
                <div class="cart-page-name">Столькгольм</div>
                <div class="cart-page-desc">Стул деревянный</div>
              </div>
            </div>
            <div class="cart-page-column cart-page-column--price">
              <input class="js-cart-item-price-input" type="hidden" value="15000" name="price"/>
              <div class="cart-page-price">15 000<span> руб.</span></div>
            </div>
            <div class="cart-page-column cart-page-column--quantity">
              <div class="product-quantity js-quantity">     <span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input js-cart-item-quanity-input" name="product-quantity" value="1" max="3" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span><span class="product-quantity-available">В наличии <span>3 шт.</span></span></div>
            </div>
            <div class="cart-page-column cart-page-column--sum">
              <input class="js-cart-item-sum-input" type="hidden" value="15000" name="sum"/>
              <div class="cart-page-price"> <span class="js-cart-item-sum">15 000</span><span> руб.</span></div>
            </div>
            <div class="cart-page-column cart-page-column--changeStatus">
              <div class="cart-page-changeStatus js-cart-item-changeStatus-btn"></div>
            </div>
          </div>
          <div class="cart-page-row js-cart-item">
            <input class="js-cart-item-status" type="hidden" value="0" name="nameItemDeleted"/>
            <div class="cart-page-column cart-page-column--title">
              <div class="cart-page-image" style="background-image:url(img/products/product9.png);"></div>
              <div class="cart-page-info">
                <div class="cart-page-name">Ханнa</div>
                <div class="cart-page-desc"> <span>Ваза с узким горлом</span>, <span>цвет охра </span></div>
              </div>
            </div>
            <div class="cart-page-column cart-page-column--price">
              <input class="js-cart-item-price-input" type="hidden" value="15000" name="price"/>
              <div class="cart-page-price">15 000<span> руб.</span></div>
            </div>
            <div class="cart-page-column cart-page-column--quantity">
              <div class="product-quantity js-quantity">   <span class="product-quantity-inputs">
                  <div class="product-quantity-button product-quantity-button--less js-quantity-btn js-quantity-btn--less"></div>
                  <input class="product-quantity-input input js-quantity-input js-cart-item-quanity-input" name="product-quantity" value="2" max="2" min="0" step="1"/>
                  <div class="product-quantity-button product-quantity-button--more js-quantity-btn js-quantity-btn--more"></div></span><span class="product-quantity-available">В наличии <span>2 шт.</span></span></div>
            </div>
            <div class="cart-page-column cart-page-column--sum">
              <input class="js-cart-item-sum-input" type="hidden" value="30000" name="sum"/>
              <div class="cart-page-price"> <span class="js-cart-item-sum">30 000</span><span> руб.</span></div>
            </div>
            <div class="cart-page-column cart-page-column--changeStatus">
              <div class="cart-page-changeStatus js-cart-item-changeStatus-btn"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-stage-bottom">
        <div class="cart-stage-subscribe cart-subscribe">
          <label class="cart-subscribe-label"> <span class="cart-subscribe-text"> Купоны на скидку</span>
            <input class="input input--cart input--typeOne cart-subscribe-input js-input-email" type="email" placeholder="Введите email" name="email"/>
            <button class="cart-subscribe-button button button--primary button--typeTwo js-email-btn" type="button">Применить</button>
          </label>
        </div>
        <div class="cart-stage-sum cart-sum">
          <input class="js-cart-item-sumTotal-input" type="hidden" value="30000" name="sumTotal"/><span class="cart-sum-text">К оплате</span><span class="cart-sum-number"> <span class="js-cart-item-sumTotal">2 199</span><span> руб. </span></span>
        </div>
      </div>
    </div>
    <div class="cart-stage-next cart-next"><span class="cart-next-text">Выберите способ доставки и укажите адрес на следующем этапе</span>
      <button class="button button--primary button--arrow cart-next-button js-cart-stage-btn" type="submit" data-nextStage="#stageDelivery">оформить заказ</button>
    </div>
  </form>
  <form class="cart-page-stage cart-page-stage--delivery js-cart-stage js-stage-form" id="stageDelivery">
    <div class="cart-page-content">
      <div class="cart-stage-top flex-container">
        <div class="cart-stage-column">
          <label class="cart-input-label"><span class="cart-input-text">ФИО</span>
            <input class="input input--cart cart-input-input js-input-name" placeholder="Как к вам обращаться" type="text" required="required" name="userName"/>
          </label>
          <label class="cart-input-label"><span class="cart-input-text">Телефон <span class="cart-input-additional">– необязательно</span></span>
            <input class="input input--cart cart-input-input js-input-phone" placeholder="+7" type="text" name="userPhone"/>
          </label>
          <label class="cart-input-label"><span class="cart-input-text">Город </span>
            <div class="cart-input-select select">
              <select class="cart-select js-input-city" name="city-select" data-custom-class="cart-select">
                <option value="Москва">Москва</option>
                <option value="Воронеж">Воронеж</option>
                <option value="Астана">Астана</option>
                <option value="Берлин">Берлин</option>
              </select>
            </div>
          </label>
        </div>
        <div class="cart-stage-column">
          <div class="radio cart-radio">
            <div class="cart-input-text">Выберите способ доставки</div>
            <label class="radio-item cart-radio-item">
              <input class="radio-input cart-radio-input" type="radio" value="pickup" checked="checked" name="delivery"/><span class="radio-fake cart-radio-fake"></span><span class="radio-label cart-radio-label">
                <div class="cart-radio-type">Самовывоз  
                  <div class="cart-radio-tooltip cart-tooltip">
                    <div class="cart-tooltip-icon"></div>
                    <div class="cart-tooltip-text">С Кропоткинская, ул. Морская 19 или Кропоткинская, ул. Морская 19</div>
                  </div>
                </div>
                <div class="cart-radio-caption">Самовывоз из магазина, <span>29 мая </span>– <span>199 руб.</span></div></span>
            </label>
            <label class="radio-item cart-radio-item">
              <input class="radio-input cart-radio-input" type="radio" value="ems" name="delivery"/><span class="radio-fake cart-radio-fake"></span><span class="radio-label cart-radio-label">
                <div class="cart-radio-type">EMS
                  <div class="cart-radio-tooltip cart-tooltip">
                    <div class="cart-tooltip-icon"></div>
                    <div class="cart-tooltip-text">С Кропоткинская, ул. Морская 19 или Кропоткинская, ул. Морская 19</div>
                  </div>
                </div>
                <div class="cart-radio-caption">Собственная служба доставки, курьер,  <span>27 мая </span>– <span>400 руб.      </span></div></span>
            </label>
          </div>
          <label class="cart-input-label"><span class="cart-input-text">Выберите пункт выдачи </span>
            <div class="cart-input-select select cart-input-select--metro">
              <select class="cart-select" name="metro-select" data-custom-class="cart-select">
                <option value="metro1">Кропоткинская, ул. Морская 19</option>
                <option value="metro2">Парк культуры, ул. Морская 19</option>
                <option value="metro3">Библиотека имени Ленина, ул. Морская 19</option>
                <option value="metro4">Хамовники, ул. Морская 19</option>
              </select>
            </div>
          </label>
          <label class="cart-input-label cart-input-label--comment"><span class="cart-input-text">Комментарий </span>
            <input class="input input--cart cart-input-input" placeholder="Примечание о доставке" name="note"/>
          </label>
        </div>
      </div>
      <div class="cart-stage-bottom">
        <div class="cart-stage-checkbox checkbox checkbox--primary cart-checkbox">
          <label class="checkbox-item cart-checkbox-item">
            <input class="checkbox-input cart-checkbox-input" type="checkbox" value="true" name="regcheckbox" checked="checked"/><span class="checkbox-fake cart-checkbox-fake"></span><span class="checkbox-label cart-checkbox-label">Зарегистрируйте меня, я хочу видеть состояние моего заказа и получать скидки при следующих покупках</span>
          </label>
        </div>
      </div>
    </div>
    <div class="cart-stage-next cart-next"><span class="cart-next-text">Выберите способ оплаты и оплатите заказ на следующем этапе</span>
      <button class="button button--primary button--arrow cart-next-button js-cart-stage-btn" type="submit" data-nextStage="#stagePayment">перейти к оплате </button>
    </div>
  </form>
  <form class="cart-page-stage cart-page-stage--payment js-cart-stage js-stage-form" id="stagePayment">
    <div class="cart-page-content">
      <div class="cart-stage-top flex-container">
        <div class="cart-stage-column">
          <div class="radio cart-radio">
            <div class="cart-input-text cart-payment-text">Выберите способ оплаты</div>
            <label class="radio-item cart-radio-item">
              <input class="radio-input cart-radio-input" type="radio" value="qiwi" name="payment"/><span class="radio-fake cart-radio-fake"></span><span class="radio-label cart-radio-label">
                <div class="cart-radio-type">Qiwi </div>
                <div class="cart-radio-caption">Платёжная система</div></span>
            </label>
            <label class="radio-item cart-radio-item">
              <input class="radio-input cart-radio-input" type="radio" value="paypal" checked="checked" name="payment"/><span class="radio-fake cart-radio-fake"></span><span class="radio-label cart-radio-label">
                <div class="cart-radio-type">Paypal</div>
                <div class="cart-radio-caption">Платёжная система, комиссия 5% </div></span>
            </label>
            <label class="radio-item cart-radio-item">
              <input class="radio-input cart-radio-input" type="radio" value="sberbank" name="payment"/><span class="radio-fake cart-radio-fake"></span><span class="radio-label cart-radio-label">
                <div class="cart-radio-type">По квитанции Сбербанка  </div></span>
            </label>
            <label class="radio-item cart-radio-item">
              <input class="radio-input cart-radio-input" type="radio" value="cashOnDelivery" name="payment"/><span class="radio-fake cart-radio-fake"></span><span class="radio-label cart-radio-label">
                <div class="cart-radio-type">Оплата при получении в пункте выдачи</div>
                <div class="cart-radio-caption">Оплата при получении заказа наличными или банковской картой в офисе или курьеру    </div></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-stage-next cart-next"><span class="cart-next-text">Внимание! Вы будете переадресованы на сайт выбранной платёжной системы</span>
      <button class="button button--primary button--arrow cart-next-button js-cart-stage-btn" type="submit" data-nextStage="#stageOk">Оплатить заказ</button>
    </div>
  </form>
  <div class="cart-page-stage cart-page-stage--ok js-cart-stage js-stage-form" id="stageOk">
    <div class="cart-page-content">
      <div class="cart-stage-top">
        <div class="cart-stage-header">Спасибо за Ваш заказ!</div>
        <div class="cart-stage-postfix">Детали заказа и информация о доставке придут на почту <span>goodboy@gmail.com</span> в течении 5 минут</div><a class="button button--primary button--arrow cart-next-button" href="#">перейти на главную</a>
      </div>
    </div>
  </div>
</div>