@charset "UTF-8";
.tpl-component-cart-page {
  background-color: var(--color-bg-7);
  margin-top: 27px;
  margin-bottom: 67px; }
  .tpl-component-cart-page .cart-page-top {
    padding: 79px 8% 0px 8.7%; }
  .tpl-component-cart-page .cart-page-table {
    width: 100%; }
  .tpl-component-cart-page .cart-page-content {
    min-height: 537px; }
  .tpl-component-cart-page .cart-page-stage {
    display: none; }
    .tpl-component-cart-page .cart-page-stage.active {
      display: block; }
    .tpl-component-cart-page .cart-page-stage--ok .cart-next-button:before {
      right: 65px; }
  .tpl-component-cart-page .cart-page-label {
    font-size: 12px;
    line-height: 34px;
    font-weight: 700;
    font-family: var(--font-2);
    text-transform: uppercase;
    color: var(--color-font-15);
    position: relative;
    padding-right: 62px;
    margin-right: 10px;
    cursor: auto; }
    .tpl-component-cart-page .cart-page-label:after {
      content: '\0035';
      font-family: var(--icons-elegant);
      font-size: 18px;
      line-height: 36px;
      font-weight: 400;
      color: var(--color-font-16);
      position: absolute;
      right: 10px;
      top: 45%;
      transform: translateY(-50%); }
    .tpl-component-cart-page .cart-page-label.active {
      color: var(--color-font-5);
      cursor: auto; }
    .tpl-component-cart-page .cart-page-label:hover {
      cursor: auto; }
    .tpl-component-cart-page .cart-page-label:last-child:after {
      display: none; }
  .tpl-component-cart-page .cart-page-name {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    font-family: var(--font-2);
    color: var(--color-font-2);
    padding-top: 26px; }
  .tpl-component-cart-page .cart-page-desc {
    font-family: var(--font-4);
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: var(--color-font-2);
    padding-top: 10px; }
  .tpl-component-cart-page .cart-page-price {
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-4);
    font-style: italic;
    color: var(--color-font-2);
    font-weight: 400;
    padding-top: 72px; }
  .tpl-component-cart-page .cart-page-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-14); }
  .tpl-component-cart-page .cart-page-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-14);
    padding-bottom: 8px; }
    .tpl-component-cart-page .cart-page-row.deleted .cart-page-column {
      opacity: 0.3;
      transition: all 0.2s; }
      .tpl-component-cart-page .cart-page-row.deleted .cart-page-column--changeStatus {
        opacity: 1; }
    .tpl-component-cart-page .cart-page-row.deleted .cart-page-changeStatus:after {
      content: "\50"; }
    .tpl-component-cart-page .cart-page-row.deleted .cart-page-name {
      text-decoration: line-through;
      transition: all 0.2s; }
  .tpl-component-cart-page .cart-page-column--title {
    flex-grow: 1;
    display: flex;
    justify-content: space-between; }
  .tpl-component-cart-page .cart-page-column--price {
    width: 15.3%; }
  .tpl-component-cart-page .cart-page-column--quantity {
    width: 27%; }
  .tpl-component-cart-page .cart-page-column--sum {
    width: 15.5%; }
  .tpl-component-cart-page .cart-page-column--changeStatus {
    width: 20px;
    position: relative; }
  .tpl-component-cart-page .cart-page-stage {
    margin-top: 29px; }
  .tpl-component-cart-page .cart-page-image {
    width: 130px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 20px;
    background-position: center; }
  .tpl-component-cart-page .cart-page-info {
    width: 50%;
    padding-right: 30px;
    padding-top: 48px; }
  .tpl-component-cart-page .cart-page-changeStatus {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.2s; }
    .tpl-component-cart-page .cart-page-changeStatus:hover {
      transition: 0; }
      .tpl-component-cart-page .cart-page-changeStatus:hover:after {
        color: var(--color-font-13); }
    .tpl-component-cart-page .cart-page-changeStatus:after {
      font-size: 20px;
      line-height: 1;
      font-weight: 400;
      content: '\4d';
      font-family: var(--icons-elegant);
      color: var(--color-font-5); }
  .tpl-component-cart-page .cart-stage-top {
    padding: 0px 8% 0px 8.7%;
    justify-content: space-between; }
  .tpl-component-cart-page .cart-stage-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 0px 8.7%; }
  .tpl-component-cart-page .cart-stage-column {
    width: 49.1%; }
    .tpl-component-cart-page .cart-stage-column:first-child {
      padding-right: 10.3%; }
  .tpl-component-cart-page .cart-stage-label {
    font-size: 14px;
    line-height: 28px;
    font-family: var(--font-4);
    font-style: italic;
    font-weight: 400;
    color: var(--color-font-17); }
  .tpl-component-cart-page .cart-stage-sum {
    padding-top: 40px; }
  .tpl-component-cart-page .cart-stage-header {
    font-size: 25px;
    line-height: 26px;
    font-family: var(--font-2);
    font-weight: 700;
    color: var(--color-font-2);
    padding: 10px 0 18px; }
  .tpl-component-cart-page .cart-stage-postfix {
    font-size: 18px;
    line-height: 24px;
    font-family: var(--font-4);
    font-weight: 400;
    color: var(--color-font-2);
    max-width: 80%;
    margin-bottom: 63px; }
  .tpl-component-cart-page .product-quantity {
    padding-top: 64px; }
  .tpl-component-cart-page .product-quantity-available {
    font-size: 14px;
    padding-left: 16px; }
  .tpl-component-cart-page .cart-subscribe {
    font-size: 0;
    padding: 40px 0;
    position: relative; }
    .tpl-component-cart-page .cart-subscribe-text {
      font-size: 14px;
      line-height: 47px;
      font-weight: 400;
      font-style: italic;
      font-family: var(--font-4);
      color: var(--color-font-2);
      padding-right: 34px; }
    .tpl-component-cart-page .cart-subscribe-input {
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      font-family: var(--font-2);
      background-color: var(--color-bg-7);
      height: 50px;
      width: 280px;
      padding: 10px 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0; }
    .tpl-component-cart-page .cart-subscribe .cart-error {
      position: absolute;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(67% + 18px); }
      .tpl-component-cart-page .cart-subscribe .cart-error-text {
        padding: 10px 10px;
        width: 160px;
        border-radius: 5px;
        background-color: var(--color-bg-7);
        position: relative;
        border: 1px solid var(--color-bg-15);
        font-size: 16px;
        line-height: 22px;
        font-family: var(--font-2);
        color: var(--color-font-2);
        font-weight: 400;
        border: 1px solid var(--color-bg-8);
        text-align: center;
        box-shadow: 0 3px 10px var(--color-bs-2); }
        .tpl-component-cart-page .cart-subscribe .cart-error-text:after, .tpl-component-cart-page .cart-subscribe .cart-error-text:before {
          left: calc(50% - 5px);
          bottom: -21px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute; }
        .tpl-component-cart-page .cart-subscribe .cart-error-text:after {
          border-color: transparent;
          border-top-color: var(--color-bg-7);
          border-width: 9px;
          bottom: -18px;
          left: calc(50% - 4px); }
        .tpl-component-cart-page .cart-subscribe .cart-error-text:before {
          border-color: transparent;
          border-top-color: var(--color-bg-8);
          border-width: 10px;
          left: calc(50% - 5px); }
    .tpl-component-cart-page .cart-subscribe-button {
      background-color: var(--color-bg-7);
      font-size: 12px;
      line-height: 30px;
      padding: 10px 27px;
      height: 50px;
      border: 1px solid var(--color-border-20);
      color: var(--color-font-5); }
  .tpl-component-cart-page .cart-sum-number {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-2);
    color: var(--color-font-2);
    padding-top: 10px;
    padding-right: 3px;
    display: inline-block;
    vertical-align: top; }
  .tpl-component-cart-page .cart-sum-text {
    font-size: 14px;
    line-height: 47px;
    font-weight: 400;
    font-style: italic;
    font-family: var(--font-4);
    color: var(--color-font-2);
    padding-right: 34px; }
  .tpl-component-cart-page .cart-next {
    background-color: var(--color-bg-9);
    padding: 30px 8% 48px 8.7%;
    display: flex;
    justify-content: space-between;
    min-height: 132px;
    padding-bottom: 20px; }
    .tpl-component-cart-page .cart-next-text {
      font-size: 18px;
      line-height: 19px;
      font-weight: 400;
      font-style: italic;
      font-family: var(--font-4);
      color: var(--color-font-2);
      padding-right: 34px;
      display: inline-block;
      vertical-align: top;
      padding-top: 20px;
      max-width: 760px; }
    .tpl-component-cart-page .cart-next-button {
      height: 54px;
      width: 340px;
      margin-right: 2px;
      border-radius: 3px;
      padding-top: 18px;
      padding-bottom: 18px; }
      .tpl-component-cart-page .cart-next-button:before {
        right: 77px;
        top: 51%; }
  .tpl-component-cart-page .cart-input-label {
    display: block;
    margin-top: 12px;
    margin-bottom: 21px; }
  .tpl-component-cart-page .cart-input-text {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-family: var(--font-4);
    font-style: italic;
    color: var(--color-font-2); }
  .tpl-component-cart-page .cart-input-additional {
    color: var(--color-font-15); }
  .tpl-component-cart-page .cart-input-select.active .cart-select-value:after {
    content: "\032";
    transition: all 0.2s; }
  .tpl-component-cart-page .cart-select-value {
    width: 100%;
    min-width: 300px;
    max-width: 460px;
    border: 1px solid var(--color-border-6);
    background: var(--color-bg-7);
    border-radius: 7px;
    height: 53px;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 26px;
    font-family: var(--font-2);
    color: var(--color-font-2);
    position: relative; }
    .tpl-component-cart-page .cart-select-value:after {
      position: absolute;
      content: "\033";
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-family: var(--icons-elegant);
      font-size: 18px;
      color: var(--color-font-5); }
  .tpl-component-cart-page .cart-select-list {
    z-index: 20;
    background-color: var(--color-bg-7);
    width: auto;
    min-width: 460px;
    font-size: 14px;
    line-height: 26px;
    font-family: var(--font-2);
    color: var(--color-font-2);
    font-weight: 400;
    box-shadow: 0 3px 30px var(--color-bs-2);
    margin-top: -1px; }
  .tpl-component-cart-page .cart-select-item {
    transition: all 0.2s;
    cursor: pointer;
    height: 40px;
    padding: 7px 20px; }
    .tpl-component-cart-page .cart-select-item:hover, .tpl-component-cart-page .cart-select-item:active {
      background-color: var(--color-bg-5);
      color: var(--color-font-5); }
  .tpl-component-cart-page .cart-radio {
    padding-top: 12px;
    margin-bottom: 16px; }
    .tpl-component-cart-page .cart-radio-item {
      padding-top: 21px;
      padding-bottom: 17px; }
    .tpl-component-cart-page .cart-radio-type {
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
      font-family: var(--font-2);
      color: var(--color-font-2);
      position: relative;
      display: inline-block;
      vertical-align: top; }
    .tpl-component-cart-page .cart-radio-caption {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      font-family: var(--font-4);
      color: var(--color-font-2);
      padding-top: 4px; }
    .tpl-component-cart-page .cart-radio-label {
      display: inline-block;
      vertical-align: top;
      padding-left: 24px;
      padding-top: 1px;
      width: 90%; }
  .tpl-component-cart-page .cart-input-select--metro .cart-select-value {
    max-width: 100%; }
    .tpl-component-cart-page .cart-input-select--metro .cart-select-value:before {
      content: "лю ";
      color: var(--color-font-18); }
  .tpl-component-cart-page .cart-input-select--metro .cart-select-list {
    min-width: 581px; }
  .tpl-component-cart-page .cart-input-select--metro .cart-select-item {
    position: relative; }
    .tpl-component-cart-page .cart-input-select--metro .cart-select-item:before {
      content: "лю ";
      color: var(--color-font-18); }
  .tpl-component-cart-page .cart-input-label--comment {
    margin-top: 25px; }
  .tpl-component-cart-page .cart-checkbox {
    max-width: 38.8%;
    margin-top: 12px;
    margin-bottom: 53px; }
  .tpl-component-cart-page .cart-payment-text {
    padding-bottom: 20px; }
  .tpl-component-cart-page .cart-tooltip {
    position: absolute;
    right: -35px;
    top: 0px;
    display: block;
    width: 30px;
    height: 30px; }
    .tpl-component-cart-page .cart-tooltip:hover .cart-tooltip-text {
      display: block; }
    .tpl-component-cart-page .cart-tooltip-icon {
      position: absolute;
      left: 50%;
      right: 0;
      top: 0;
      transform: translateX(-50%); }
      .tpl-component-cart-page .cart-tooltip-icon:before {
        content: "\e718";
        font-family: var(--icons-themify);
        font-size: 16px;
        color: var(--color-font-13);
        font-weight: 400; }
    .tpl-component-cart-page .cart-tooltip-text {
      display: none;
      position: absolute;
      z-index: 20;
      bottom: 160%;
      left: 36%;
      transform: translateX(-50%);
      margin: 0 auto;
      padding: 10px 15px;
      width: 240px;
      border-radius: 5px;
      background-color: var(--color-bg-7);
      border: 1px solid var(--color-bg-15);
      font-size: 14px;
      line-height: 27px;
      font-family: var(--font-2);
      color: var(--color-font-2);
      font-weight: 400;
      box-shadow: 0 3px 30px var(--color-bs-2); }
      .tpl-component-cart-page .cart-tooltip-text:after, .tpl-component-cart-page .cart-tooltip-text:before {
        left: calc(50% - 5px);
        bottom: -19px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute; }
      .tpl-component-cart-page .cart-tooltip-text:before {
        border-color: transparent;
        border-top-color: var(--color-bg-15);
        border-width: 9px;
        left: calc(50% - 5px); }
      .tpl-component-cart-page .cart-tooltip-text:after {
        border-color: var(--color-bg-8);
        border-top-color: var(--color-bg-7);
        border-width: 9px; }
  .tpl-component-cart-page .cart-error-text {
    font-family: var(--font-4);
    font-size: 14px;
    padding-top: 3px;
    color: var(--color-font-5); }
