.tpl-component-reviews-slider[max-width~="1000px"] .slider div.fotorama__nav.fotorama__nav--dots {
  padding-left: calc(170px + 7vw); }

.tpl-component-reviews-slider[max-width~="900px"] .slider div.fotorama__nav.fotorama__nav--dots {
  padding-left: calc(170px + 6vw); }

.tpl-component-reviews-slider[max-width~="800px"] .reviews-slider-inner {
  padding: 60px 0 20px; }

.tpl-component-reviews-slider[max-width~="800px"] .slider {
  padding: 80px 20px 34px; }
  .tpl-component-reviews-slider[max-width~="800px"] .slider div.fotorama__nav.fotorama__nav--dots {
    padding-left: calc(170px + 5vw); }

.tpl-component-reviews-slider[max-width~="700px"] .reviews-slider-header {
  font-size: 23px;
  line-height: 30px; }

.tpl-component-reviews-slider[max-width~="700px"] .slider {
  padding: 40px 20px 34px;
  text-align: left; }
  .tpl-component-reviews-slider[max-width~="700px"] .slider-item {
    max-height: 500px; }
  .tpl-component-reviews-slider[max-width~="700px"] .slider-content {
    width: 100%;
    padding-left: 0;
    padding-top: 20px; }
  .tpl-component-reviews-slider[max-width~="700px"] .slider div.fotorama__nav.fotorama__nav--dots {
    text-align: center;
    padding-left: 0; }
  .tpl-component-reviews-slider[max-width~="700px"] .slider-text {
    font-size: 16px;
    line-height: 28px;
    max-height: 192px;
    -webkit-line-clamp: 6; }

.tpl-component-reviews-slider[max-width~="500px"] {
  margin-top: 15px; }
  .tpl-component-reviews-slider[max-width~="500px"] .reviews-slider-header {
    text-align: left;
    font-size: 15px;
    line-height: 20px; }
  .tpl-component-reviews-slider[max-width~="500px"] .reviews-slider-inner {
    padding-top: 42px; }
  .tpl-component-reviews-slider[max-width~="500px"] .slider {
    padding: 40px 0px 55px;
    text-align: left; }
    .tpl-component-reviews-slider[max-width~="500px"] .slider-avatar {
      width: 85px;
      height: 85px; }
    .tpl-component-reviews-slider[max-width~="500px"] .slider-content {
      padding-left: 0px;
      padding-top: 25px;
      width: 100%; }
    .tpl-component-reviews-slider[max-width~="500px"] .slider-text {
      font-size: 14px;
      line-height: 21px;
      max-height: 128px;
      -webkit-line-clamp: 6; }
    .tpl-component-reviews-slider[max-width~="500px"] .slider-desc {
      font-size: 10px;
      line-height: 17px;
      padding: 26px 0; }
    .tpl-component-reviews-slider[max-width~="500px"] .slider .fotorama__nav-wrap {
      display: none; }

.tpl-component-reviews-slider[max-width~="400px"] .slider-text {
  font-size: 12.5px;
  line-height: 19px; }

.tpl-component-reviews-slider[max-width~="400px"] .slider-desc {
  font-size: 9px;
  line-height: 16px; }
