
<div class="tpl-component-reviews-slider">
  <div class="reviews-slider-image"></div>
  <div class="block-content">
    <div class="reviews-slider-inner">
      <div class="reviews-slider-header title-italic">Отзывы счастливых покупателей</div>
      <div class="div slider fotorama" data-width="100%" data-height="270" data-maxwidth="980" data-arrows="false" data-loop="true">
        <div class="slider-item js-review">  
          <div class="slider-avatar" style="background-image: url(img/sliders/avatar1.png);"></div>
          <div class="slider-content">
            <div class="slider-text js-review-text">
              <p>Сегодня привезли диван, и я в восторге. Я теперь всё время хочу полежать на нём, настолько он привлекателен. Я бы даже отказался от своей кровати ради такого дивана. Но, кажется, меня опередил кот и теперь не хочет делиться таким комфортным местом для отдыха.</p>
            </div>
            <div class="slider-desc">Сергей Д. приобрел <a class="link link--orange" href="#">Диван Блаженство</a></div>
          </div>
        </div>
        <div class="slider-item js-review">  
          <div class="slider-avatar" style="background-image: url(img/sliders/slider1.png);"></div>
          <div class="slider-content">
            <div class="slider-text js-review-text"> 
              <p>Сегодня привезли диван, и я в восторге. Я теперь всё время хочу полежать на нём, настолько он привлекателен. Я бы даже отказался от своей кровати ради такого дивана. Но, кажется, меня опередил кот и теперь не хочет делиться таким комфортным местом для отдыха. Сегодня привезли диван, и я в восторге. Я теперь всё время хочу полежать на нём, настолько он привлекателен. Я бы даже отказался от своей кровати ради такого дивана. Но, кажется, меня опередил кот и теперь не хочет делиться таким комфортным местом для отдыха.</p>
            </div>
            <div class="slider-desc">Сергей Д. приобрел <a class="link link--orange" href="#">Диван Блаженство</a></div>
          </div>
        </div>
        <div class="slider-item js-review">  
          <div class="slider-avatar" style="background-image: url(img/sliders/avatar1.png);"></div>
          <div class="slider-content">
            <div class="slider-text js-review-text"> 
              <p>Сегодня привезли диван, и я в восторге. Я теперь всё время хочу полежать на нём, настолько он привлекателен. Я бы даже отказался от своей кровати ради такого дивана. Но, кажется, меня опередил кот и теперь не хочет делиться таким комфортным местом для отдыха.</p>
            </div>
            <div class="slider-desc">Сергей Д. приобрел <a class="link link--orange" href="#">Диван Блаженство</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>