@font-face {
    font-family: 'Neris';
    src: url('Neris-Black_gdi.eot');
    src: url('Neris-Black_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-Black_gdi.woff') format('woff'), url('Neris-Black_gdi.ttf') format('truetype'), url('Neris-Black_gdi.otf') format('opentype'), url('Neris-Black_gdi.svg#Neris') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'Neris';
    src: url('Neris-Light_gdi.eot');
    src: url('Neris-Light_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-Light_gdi.woff') format('woff'), url('Neris-Light_gdi.ttf') format('truetype'), url('Neris-Light_gdi.otf') format('opentype'), url('Neris-Light_gdi.svg#Neris') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'Neris';
    src: url('Neris-SemiBold_gdi.eot');
    src: url('Neris-SemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-SemiBold_gdi.woff') format('woff'), url('Neris-SemiBold_gdi.ttf') format('truetype'), url('Neris-SemiBold_gdi.otf') format('opentype'), url('Neris-SemiBold_gdi.svg#Neris') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'ElegantIcons';
    src: url('ElegantIcons.eot');
    src: url('ElegantIcons.eot?#iefix') format('embedded-opentype'), url('ElegantIcons.woff') format('woff'), url('ElegantIcons.ttf') format('truetype'), url('ElegantIcons.svg#ElegantIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.all--portfolio * {
    font-family: 'Neris', sans-serif;
}

.all--portfolio a {
    transition: all 0.2s;
    cursor: pointer;
}

.portf_first {
    background-color: #192437;
    padding: 84px 9% 90px 9%;
    position: relative;
    display: block;
    overflow: hidden;
}

.portf_first-backgrounds {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.portf_first-background {
    position: absolute;
}

.portf_first-background--sector {
    left: -5px;
    top: 280px;
}

.portf_first-background--sectorS {
    right: 40.5%;
    top: 60px;
}

.portf_first-background--square {
    left: 13%;
    top: 490px;
}

.portf_first-background--halfcircle {
    right: 15%;
    top: 0px;
}

.portf_first-background--zigzag {
    top: 245px;
    right: 11.5%;
    transform: rotate(90deg);
    opacity: 0.3
}

.portf_first-background--zigzagO {
    top: 30px;
    width: 100px;
    left: 14.7%;
}

.portf_first-prefix {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #9dc1ff;
    z-index: 10;
    position: relative;
    text-align: center;
}

.portf_first-title {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 48px;
    padding-top: 26px;
    line-height: 59px;
    width: 100%;
    max-width: 905px;
    position: relative;
}

.portf_first-fotorama {
    margin-top: 90px;
    position: relative;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.portf_first-fotorama, .portf_first-fotorama * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.portf_first-fotorama::before {
    position: absolute;
    right: 0;
    top: -7px;
    border-radius: 5px 5px 0 0;
    left: 0;
    width: 100%;
    height: 0.7vw;
    content: '';
    background-color: #E7E7E7;
}

.portf_first-image {
    display: block;
    padding-top: 10px;
}

div.fotorama__nav.fotorama__nav--dots {
    padding-top: 8px;
}

.fotorama__dot {
    width: 7px;
    height: 7px;
    background-color: #0B3164;
    border: 1px solid #0B3164;
    border-radius: 7px;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
    top: 11px;
    border-width: 5px;
    border-radius: 50%;
    border-color: #0065FF;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.38)
}

.portf_first-arrow {
    position: absolute;
    top: 40.5%;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    border: 2px solid rgba(137, 147, 158, 0.5);
    cursor: pointer;
    transition: all 0.2s;
}

.portf_first-arrow:hover {
    border-color: rgba(255, 255, 255, 0.8);
    transition: none;
}

.portf_first-arrow--left {
    left: -90px;
}

.portf_first-arrow--right {
    right: -90px;
}

.portf_first-arrow:before {
    position: absolute;
    right: 0;
    top: 50%;
    content: '';
    border-color: rgba(255, 255, 255, 0.6);
    border-right: 2px solid rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    width: 15px;
    height: 15px;
    transition: all 0.2s;
}

.portf_first-arrow:hover:before {
    border-color: rgba(255, 255, 255, 0.85);
    transition: none;
}

.portf_first-arrow--left:before {
    left: 55%;
    transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

.portf_first-arrow--right::before {
    left: 47%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.portf_history {
    padding: 50px 0 100px 0;
    background-color: white;
}

.portf_history-main {
    display: block;
    background-color: #0065FF;
    position: relative;
    margin: 0 38px;
    padding: 48px 90px 63px;
    background-image: url(history-background.png)
}

.portf_history-picture {
    position: absolute;
    right: 0px;
    top: 57px;
}

.portf_history-image {
    box-shadow: 0 19px 122px 0px rgba(23, 67, 150, 0.34)
}

.portf_history-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    color: white;
    max-width: 400px;
    width: 100%;
}

.portf_history-content {
    max-width: 430px;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
    padding-top: 32px;
    color: white;
}

.portf_history-main {
    text-decoration: none;
}

.portf_link {
    font-size: 16px;
    line-height: 22px;
    color: #b1cbfc;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-weight: 600;
}

.portf_link:hover {
    color: white;
    border-color: rgba(255, 255, 255, 0.6);
}

.portf_history-link {
    display: inline-block;
    padding-top: 34px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: rgba(149, 183, 252, 0.9)
}

.portf_history-items {
    box-sizing: border-box;
    margin: 18px 38px 0;
}

.portf_history-item {
    display: inline-block;
    width: 32%;
    margin-right: 1.6%;
    box-sizing: border-box;
    vertical-align: top;
    text-decoration: none;
    color: #212121;
    padding-bottom: 40px;
}

.portf_history-showMore.is-active {
    display: none;
}

.portf_history-block {
    padding: 35px 0 40px;
}

.portf_history-item:nth-child(3n) {
    margin-right: 0;
}

.portf_history-block--yellow {
    background-color: #FFF42F;
}

.portf_history-block--blue {
    background-color: #00A5FC;
}

.portf_history-block--green {
    background-color: #00C866;
}

.portf_history-notebook {
    background-image: url('notebook.png');
    max-width: 278px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2.1% 0 4.5%;
    text-align: center;
}

.portf_history-caption {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 20px;
    transition: all 0.2s;
}

.portf_history-item:hover>.portf_history-caption {
    color: #2c75ff;
    transition: none;
}

.portf_history-site {
    max-width: 213px;
    display: block;
    margin: 0 auto;
    width: 80%;
    max-height: 132px;
}

.portf_history-buttons {
    text-align: center;
    padding: 0px 0 0 0;
    margin-top: 30px;
}

.portf_btn {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    color: #2c75ff;
    text-decoration: none;
    border: 0;
    box-shadow: 0px 20px 35px 0px rgba(37, 57, 130, 0.137);
    padding: 0 30px;
    min-width: 180px
}

.portf_history .portf_btn span:last-child {
    display: inline;
}

.portf_history .portf_btn span:last-child {
    display: none;
}

.portf_history .portf_btn.is-active span:first-child {
    display: none;
}

.portf_history .portf_btn.is-active span:last-child {
    display: inline;
}

.portf_btn--outlineblue {
    border-width: 2px;
    border-color: rgba(44, 117, 255, 0.5);
    border-style: solid;
    background: none;
    line-height: 40px;
    height: 46px;
    box-shadow: none;
    color: #2c75ff;
}

.portf_btn--outlineblue:hover {
    background: none;
    box-shadow: none;
    border-color: rgba(44, 117, 255, 1);
    color: #2c75ff;
}

.portf_project {
    padding: 73px 7.5% 69px;
}

.portf_stores {
    background-color: #192437;
}

.portf_corp {
    padding-top: 71px;
    background-color: #F2F8FF;
}

.portf_social {
    padding-top: 82px;
    background-color: #F2F8FF;
    position: relative;
}

.portf_social:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #E8F3FF;
    width: 88%;
    margin: 0 auto;
}

.portf_project-header {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
}

.portf_project-header--stores {
    color: white;
}

.portf_project-items {
    margin: 0 auto;
    margin-top: 30px;
}

.portf_project-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 1.6%;
    margin-top: 22px;
    width: 32%;
    border: 3px solid;
    border-color: white;
    box-shadow: none;
    box-sizing: border-box;
    background-color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.portf_project-firstButton {
    margin-top: 50px;
}

.portf_project-item:hover {
    border-color: #a3c7fb;
    box-shadow: 0px 19px 21px 0px rgba(44, 117, 255, 0.08);
    transition: none;
}

.portf_project-wrapper {
    position: relative;
}

.portf_project-showMore .portf_project-item.is-hidden {
    display: none;
}

.portf_project-link {
    transition: all 0.2s;
    border-bottom: none;
    color: #2c75ff;
}

.portf_project-link:hover {
    color: #fb782a;
    transition: none;
}

.portf_project-picture {
    background-color: white;
    width: 100%;
    height: 220px;
    overflow: hidden;
    display: inline-block;
}

.portf_stores .portf_project-picture {
    height: 225px;
}

.portf_project-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
}

.portf_project-wrapper:after {
    content: '';
    background-image: url('new-window.svg');
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    z-index: 20;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
    background-size: cover;
}

.portf_project-wrapper:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: all 0.4s;
    opacity: 0;
}

.portf_project-picture:hover .portf_project-wrapper:before, .portf_project-picture:hover .portf_project-wrapper:after {
    opacity: 1;
}

.portf_project-item:nth-child(3n) {
    margin-right: 0;
}

.portf_project-caption {
    padding: 22px 15px 28px;
}

.portf_project-name {
    font-size: 16px;
    color: #212121;
    line-height: 17px;
    font-weight: 600;
}

.portf_project-copy {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #727272;
    padding-top: 8px;
}

.portf_project-buttons {
    text-align: center;
    padding: 20px 0 0 0;
    display: block;
}

.portf_project-buttons.is-hidden {
    display: none;
}

.portf_project .portf_btn:hover {
    color: #2c75ff;
    border-color: rgba(44, 117, 255, 1);
}

.portf_project .js-show-all.is-hidden {
    display: none;
}

.portf_project-showLess {
    padding: 0px 27px;
    min-width: 180px;
    cursor: pointer;
    color: #b1cbfc;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.portf_project-showLess.is-single {
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    border-radius: 50px;
    text-decoration: none;
    border: 0;
    padding: 0 30px;
    min-width: 180px;
    border-width: 2px;
    border-color: rgba(44, 117, 255, 0.5);
    border-style: solid;
    background: none;
    line-height: 40px;
    height: 46px;
    box-shadow: none;
    color: #2c75ff;
    margin-top: 50px;
}

.portf_project-showLess:hover {
    color: #2c75ff;
}

.portf_project-showLess.is-single:hover {
    color: #2c75ff;
    border-color: rgba(44, 117, 255, 1);
}

.portf_project-showLess.is-hidden {
    display: none;
}


/*first*/

.portf_first-prefix, .portf_first-title, .fotorama, .portf_first-fotorama:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_first-arrow {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.portf_first-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.portf_first-fotorama {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.portf_first.is-ready .portf_first-prefix, .portf_first.is-ready .portf_first-title, .portf_first.is-ready .fotorama, .portf_first.is-ready .portf_first-fotorama:before {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}

.portf_first.is-ready .portf_first-arrow {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: none;
    transition: none;
}

.portf_first-background--zigzag polyline {
    stroke: #2c75ff;
    stroke-width: 9;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation-name: draw;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.portf_first-background--zigzag polyline:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.portf_first-background--zigzag polyline:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.portf_first-background--zigzag polyline:nth-child(1) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.portf_first-background--zigzagO polyline {
    stroke: #ff7815;
    stroke-width: 9;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation-name: draw;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.portf_first-background--zigzagO polyline:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.portf_first-background--zigzagO polyline:nth-child(2) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.portf_first-background--zigzagO polyline:nth-child(1) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.portf_first-background--sector, .portf_first-background--sectorS, .portf_first-background--square, .portf_first-background--halfcirle {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_first-background--halfcirle {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.portf_first-background--sectorS {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.portf_first-background--sector {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_first-background--square {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.portf_first.is-ready .portf_first-background--sector, .portf_first.is-ready .portf_first-background--sectorS, .portf_first.is-ready .portf_first-background--square, .portf_first.is-ready .portf_first-background--halfcirle {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}


/*history-main*/

.portf_history-title, .portf_history-content {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_history-picture {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.portf_history-content {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.portf_history-picture {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.portf_history-main.is-ready .portf_history-title, .portf_history-main.is-ready .portf_history-content {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}

.portf_history-main.is-ready .portf_history-picture {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
}


/*history-items*/

.portf_history-block, .portf_history-caption, .portf_history-buttons {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_history-item .portf_history-block {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.portf_history-item .portf_history-caption {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_history-item:nth-child(odd) .portf_history-bloc {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_history-item:nth-child(odd) .portf_history-caption {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_history-buttons {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.portf_history-items.is-ready .portf_history-block, .portf_history-items.is-ready .portf_history-caption, .portf_history-buttons.is-ready {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}


/*stores*/

.portf_project-header, .portf_stores .portf_project-item, .portf_stores .portf_project-buttons {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_stores .portf_project-item {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_stores .portf_project-item:nth-child(odd) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.portf_stores .portf_project-buttons {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.portf_stores.is-ready .portf_project-header, .portf_stores.is-ready .portf_project-item, .portf_stores.is-ready .portf_project-buttons {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}


/*corp*/

.portf_corp .portf_project-header, .portf_corp .portf_project-item, .portf_corp .portf_project-buttons {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_corp .portf_project-item {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_corp .portf_project-item:nth-child(odd) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.portf_corp .portf_project-buttons {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.portf_corp.is-ready .portf_project-header, .portf_corp.is-ready .portf_project-item, .portf_corp.is-ready .portf_project-buttons {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}


/*social*/

.portf_social .portf_project-header, .portf_project-item, .portf_social .portf_project-buttons {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.portf_social .portf_project-item {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.portf_social .portf_project-item:nth-child(odd) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.portf_social .portf_project-buttons {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.portf_social.is-ready .portf_project-header, .portf_social.is-ready .portf_project-item, .portf_social.is-ready .portf_project-buttons {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}

.is-ieOrEdge .portf_first-background--zigzag polyline, .is-ieOrEdge .portf_first-background--zigzag polyline:nth-child(3), .is-ieOrEdge .portf_first-background--zigzag polyline:nth-child(2), .is-ieOrEdge .portf_first-background--zigzag polyline:nth-child(1) {
    animation: none !important;
    stroke-dashoffset: 0 !important;
}

.is-ieOrEdge .portf_first-background--zigzagO polyline, .is-ieOrEdge .portf_first-background--zigzagO polyline:nth-child(3), .is-ieOrEdge .portf_first-background--zigzagO polyline:nth-child(2), .is-ieOrEdge .portf_first-background--zigzagO polyline:nth-child(1) {
    animation: none !important;
    stroke-dashoffset: 0 !important;
}
