@font-face {
    font-family: 'Neris';
    src: url('Neris-Black_gdi.eot');
    src: url('Neris-Black_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-Black_gdi.woff') format('woff'), url('Neris-Black_gdi.ttf') format('truetype'), url('Neris-Black_gdi.otf') format('opentype'), url('Neris-Black_gdi.svg#Neris') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'Neris';
    src: url('Neris-Light_gdi.eot');
    src: url('Neris-Light_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-Light_gdi.woff') format('woff'), url('Neris-Light_gdi.ttf') format('truetype'), url('Neris-Light_gdi.otf') format('opentype'), url('Neris-Light_gdi.svg#Neris') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'Neris';
    src: url('Neris-SemiBold_gdi.eot');
    src: url('Neris-SemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-SemiBold_gdi.woff') format('woff'), url('Neris-SemiBold_gdi.ttf') format('truetype'), url('Neris-SemiBold_gdi.otf') format('opentype'), url('Neris-SemiBold_gdi.svg#Neris') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

.sprt_btn {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    color: #2c75ff;
    text-decoration: none;
    border: 0;
    box-shadow: 0px 20px 35px 0px rgba(37, 57, 130, 0.137);
    padding: 0 30px;
}

.sprt_btn:hover {
    background-color: rgb(255, 255, 255);
    color: #2c75ff;
}

.sprt_btn:active {
    opacity: 0.5;
    -webkit-transition: none;
    transition: none;
}

.sprt_btn--outlineblue {
    border-width: 2px;
    border-color: rgba(44, 117, 255, 0.5);
    border-style: solid;
    background: none;
    line-height: 40px;
    height: 46px;
    box-shadow: none;
    color: #2c75ff;
}

.sprt_btn--outlineblue:hover {
    background: none;
    box-shadow: none;
    border-color: rgba(44, 117, 255, 1);
}

.sprt_btn--outlineblue:active {
    opacity: 0.5;
    -webkit-transition: none;
    transition: none;
}

.sprt_btn--orange {
    background: #fd782a;
    opacity: 0.8;
    box-shadow: 0px 13px 27px rgba(109, 52, 10, 0.31);
    color: white;
}

.sprt_btn--orange .l:after {
    background: #fd914b;
}

.sprt_btn--orange:hover {
    background: #fd782a;
    opacity: 1;
    color: white;
}

.sprt_btn--orange:active {
    opacity: 0.5;
    -webkit-transition: none;
    transition: none;
}

.sprt_btn--large {
    padding: 0 34px;
}

.sprt_btn--outline {
    border-width: 2px;
    border-color: rgba(44, 117, 255, 0.5);
    border-style: solid;
    color: #2c75ff;
    background: none;
    line-height: 40px;
    height: 46px;
    box-shadow: none;
    /*margin-top: 54px;*/
    margin-left: 17px;
    padding: 0 28px;
}

.sprt_btn--outline:hover {
    border-color: rgba(44, 117, 255, 1);
}


/*changin stuff that already existed*/


/*#all {
    background-color: white;
}

#wrap {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.header-logo {
    left: 26px;
}

.header-menu {
    left: 95px;
}

.header-search.search {
    right: 97px;
}

.section {
    font-family: "Neris";
}*/


/*mine*/

.sprt, .sprt h1, .sprt h2, .sprt h3 {
    font-family: "Neris";
}

.sprt {
    background-color: white;
}

.text-link {
    text-decoration: none;
    border-bottom: 1px solid #c1d8f8;
    transition: all 0.2s;
    color: #3279f9;
}

.text-link:hover {
    color: #fb782a;
    border-color: #fcbb8e;
}

.text-link--action {
    border: 0;
}

.NYbanner {
    height: 100px;
    width: 100%;
}

.sprt {
    box-sizing: border-box;
}

.sprt:after {
    display: block;
    content: "";
    clear: both;
}

.sprt_questions {
    float: left;
    padding: 70px 20px 0 45px;
    width: 250px;
}

.sprt_questions.is-copy {
    display: none;
}

.titleLink {
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    color: #B8B8B8;
    font-weight: 900;
}

.titleLink:hover {
    color: #0065FF;
}

.titleLink-icon {
    display: inline-block;
    vertical-align: top;
    padding: 7px 10px 0 0;
    color: #58A3FF;
}

.titleLink-content {
    display: inline-block;
    vertical-align: top;
    padding: 3px 0 0 0;
    letter-spacing: 0.5px
}

.sprt_questions-blocks {
    padding: 20px 0 0 0;
}

.qBlock {
    padding: 14px 0 2px 0;
    color: #B4B4B4;
}

.qBlock-header {
    display: block;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    color: black;
    border-bottom: 1px solid #DFDFDF;
    width: 100%;
    padding: 0 0 22px;
}

.qBlock-header:hover {
    color: #0065FF;
}

.qBlock-item {
    font-size: 16px;
    font-weight: 300;
    padding: 22px 0 0 0;
    line-height: 24px;
}

.qBlock-link {
    text-decoration: none;
    color: #A6A6A6;
}

.qBlock-link:hover {
    color: #212121;
}

.qBlock-everything {
    padding: 12px 0 12px 0;
    margin-bottom: 48px;
    border-top: 1px solid #DFDFDF;
    width: 100%;
    font-size: 12px;
    display: inline-block;
    margin-top: 32px;
}

.qEverything-icon {
    font-size: 16px;
    padding-top: 2px;
}

.qEverything-content {
    letter-spacing: 1px;
}

.sprt_questions-communication {
    padding-top: 16px;
}

.qComm-item {
    margin-top: 23px;
    text-transform: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.qComm-content {
    letter-spacing: 0;
    padding-left: 2px;
    max-width: 180px;
}

.sprt_support {
    display: block;
    margin-left: 314px;
    margin-right: 46px;
    padding: 60px 0 0 7.9%;
}

.sprt_support-title {
    font-size: 36px;
    font-weight: 900;
    line-height: normal;
    margin-top: 3px;
    margin-bottom: -3px;
}

.sThings {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: -10px;
}

.sThings-item {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    padding: 60px 0 0 0;
    position: relative;
}

.sThings-item:nth-child(odd) {
    padding: 60px 34px 0 0;
}

.sThings-icon {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

.sThings-icon--docs {
    width: 50px;
    left: -2px;
}

.sThings-icon--academia {
    width: 58px;
    top: 62px;
}

.sThings-icon--message {
    width: 60px;
    top: 55px;
    left: -2px;
}

.sThings-content {
    margin-left: 90px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 2px
}

.sThings-content--message {
    margin-top: -12px;
}

.sSpecial {
    margin: 95px 0 0 0;
    position: relative;
}

.sprt_support-header {
    font-size: 26px;
    font-weight: 300;
    color: #212121;
}

.sSpecial-link {
    font-size: 12px;
    position: absolute;
    top: 4px;
    right: 0;
}

.sSpecial-icon {
    font-size: 16px;
}

.sSpecial-content {
    letter-spacing: 1px;
    font-size: 12px;
}

.sBanner {
    background-color: #F5F3F2;
    margin-top: 40px;
    padding: 24px 40px 36px 40px;
    box-sizing: border-box;
    position: relative;
}

.sBanner-content {
    max-width: 50%;
    display: inline-block;
    position: relative;
}

.sBanner-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
}

.sBanner-icon {
    display: inline-block;
    vertical-align: top;
    /*position: absolute;
          left: -3px;
          top: 52px;*/
    padding-top: 4px;
}

.sBanner-disclaimer {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 0 -3px;
    color: #AEAEAD;
}

.sBanner .sprt_btn {
    position: absolute;
    top: 30px;
    right: 40px;
}

.sTicket {
    margin-top: 48px;
    position: relative;
}

.sprt_support-header {
    display: inline-block;
    vertical-align: top;
}

.sprt_support-count {
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: #818181;
}

.sprt_support-link {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 2px;
}

.sTicket-icon {
    font-size: 16px;
    margin: -2px -3px 0 0;
}

.sTicket-content {
    font-size: 12px;
}

.sprt_supportTable {}

.is-prepended {
    display: none;
}

.sprt_supportTable-head {
    background-color: #F9F9F8;
    display: block;
    border-bottom: 1px solid #D6D6D6;
    color: #727272;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 16px;
}

.sprt_supportTable-cell {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.sprt_supportTable-cell--more {
    display: block;
}

.sprt_supportTable-more.isHidden {
    display: none;
}

.sprt_supportTable-cell--p22 {
    width: 22%;
    padding-right: 10px;
    padding-left: 2px;
}

.sprt_supportTable-cell--p34 {
    width: 34%;
    /*line-height: 17px;*/
    /*margin-top: 2px;*/
    padding-right: 10px;
    padding-left: 4px;
}

.sprt_supportTable-cell--p17 {
    width: 17%;
    padding-left: 15px;
    padding-right: 10px;
}

.sprt_supportTable-cell--p25 {
    width: 25%;
    margin-right: -4px;
    padding-left: 24px;
    padding-right: 10px;
}

.sTicket-tickets {
    margin-top: 24px;
}

.sprt_supportTable-row {
    padding: 22px 17px;
    border-bottom: 1px solid #D6D6D6;
    min-height: 70px;
    box-sizing: border-box;
    color: #727272;
}

.sprt_supportTable-row.isHidden {
    display: block;
}

.sprt_supportTable-row:first-child {
    padding: 25px 17px 19px;
}

.supportTable-showMore {
    text-decoration: none;
    display: none;
    text-transform: uppercase;
    color: #B8B8B8;
    font-weight: 900;
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
}

.supportTable-showMore:hover {
    color: #0065FF;
}

.sLicense {
    position: relative;
    margin-top: 67px;
}

.sLicense-body {}

.sLicense-icon {
    margin: -1.5px 0 0 0;
    ;
}

.sLicense-content {
    font-size: 12px;
}

.sLicense-licenses {
    margin-top: 25px;
}

.sprt_supportTable-cell--p37 {
    display: inline-block;
    width: 37%;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 10px;
}

.sprt_supportTable-cell--p33 {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin-right: -4px;
    padding-right: 10px;
    padding-left: 4px;
}

.sprt_supportTable-cell--p28 {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    margin-right: -4px;
    padding-left: 24px;
    padding-right: 10px;
}

.sprt_supportTable-cell--black {
    font-weight: 600;
    color: #212121;
    font-size: 16px;
}

.sLicense-icon--inner {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}

.sprt_supportTable-inner {
    display: block;
}

.sLicense-text {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}

.sprt_supportTable-inner--red {
    display: block;
    color: #FF0036
}


/*.sLicense-icon-red {
    color: #FF0036;
    margin-top: 4px;
    margin-left: 3px;
}*/

.sprt_supportTable-addition {
    color: #2c75ff;
    display: inline-block;
}

.sprt_supportTable-addition--underscored {
    /*border-bottom: 1px solid #CEE4FF;
          width: auto;*/
    /*margin-top: 10px;
          padding-bottom: 9px;*/
    /*margin-top: 4px;*/
}

.sLicense-row {
    padding: 22px 17px 21px;
}

.sprt_support-notice {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #727272;
}

.sLicense-notice {
    margin-top: 29px;
}

.sNotice-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
}

.sNotice-content {
    display: inline-block;
    vertical-align: top;
    max-width: 90%;
    margin-top: -5px;
    line-height: 18px;
}

.sprt_support-update {
    margin-top: 119px;
    padding-bottom: 330px;
}

.sUpdate-header {
    margin-bottom: 36px;
}

.sUpdate-content {
    display: inline-block;
    vertical-align: middle;
    /*padding-top: 69px;*/
    font-size: 18px;
    font-weight: 300;
    min-height: 40px;
    line-height: 40px;
}

.sUpdate-select {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 0px 0 0 21px;
    position: relative;
    background: 0;
    padding: 1px 0 0 0;
    color: black;
    height: auto;
    line-height: 18px;
    min-width: 260px;
}

.custom-select {
    display: none;
}

.sUpdate-select:before, .sUpdate-select:hover:before {
    display: none;
}

.sUpdate-val:before {
    font-family: "simple-line-icons";
    content: "\e604";
    font-size: 12px;
    position: absolute;
    right: 18px;
    top: 15px;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
    -o-transition: -o-trnasform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s, top 0.3s;
    background: none;
    margin-top: 0;
    width: 12px !important;
    height: 14px !important;
    top: 18px;
    display: block;
    transform-origin: center;
}

.sUpdate-select:after {
    background: 0;
    border: 0;
    border-radius: 0;
}

.sUpdate-select.active:after {
    background: 0;
    border: 0;
    border-radius: 0;
}

.active .sUpdate-val:before {
    top: 20px;
}

.sUpdate-select:hover {
    background: none;
}

.sUpdate-select:hover:after {
    background: 0;
    border: 0;
    border-radius: 0;
}

.active .sUpdate-val:before {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    -o-transition: -o-trnasform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.sUpdate-list {
    line-height: normal;
    width: 260px;
    margin-left: 0;
    margin-top: 0;
    box-shadow: none;
    overflow: auto;
}

.is-windows .sUpdate-list {
    overflow: auto;
    overflow-x: hidden;
}

.is-windows .sUpdate-list::-webkit-scrollbar {
    background: #F5F3F2;
    width: 4px;
}

.is-windows .sUpdate-list::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0, 0, 0, .4)
}

.custom-option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px 18px;
    width: 260px;
    border: 1px solid #EAE8E7;
    background-color: #F5F3F2;
    line-height: 18px;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 0;
    box-sizing: border-box;
}

.custom-option:hover {
    background-color: #0065FF;
    color: white;
    border-color: #0065FF;
}

.sUpdate-val {
    font-size: 18px;
    font-weight: 300;
    width: 260px;
    border: 1px solid #EAE8E7;
    background: none;
    border-radius: 3px;
    padding: 15px 18px;
    line-height: 18px;
    height: auto;
    color: black;
    box-sizing: border-box;
}

.sUpdate-val:hover:before {
    color: white;
}

.sUpdate-val:hover {
    background-color: #0065FF;
}

.sUpdate-val:hover {
    color: white;
}

.active .sUpdate-val:hover {
    background: #F5F3F2;
    color: #212121;
}

.active .sUpdate-val {
    background: #F5F3F2;
}

.active .sUpdate-val:before {
    color: #212121;
}

.sUpdate-input {
    width: 260px;
    width: 260px;
    border: 1px solid #EAE8E7;
    background-color: #F5F3F2;
    line-height: 18px;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 0;
    box-sizing: border-box;
}

.custom-option:hover {
    background-color: #0065FF;
    color: white;
    border-color: #0065FF;
}


/* animation styles for sThings */

.sThings-item {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.sThings-item:nth-child(2) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
}

.sThings-item:nth-child(3) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s;
}

.sThings-item.is-ready {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}


/*for inner pages*/

.qBlock-header--semibold {
    font-weight: 600;
    color: rgba(114,114,114, 0.7)
}
.qBlock-header--semibold:hover {
  border-color: #60A4FE;
  color: #212121;
}
.qBlock-header.is-active {
  border-color: #60A4FE;
  color: #212121;
}
/* overwritten */
.sprt_questions-blocks {
  padding: 18px 0 0 0;
}
.qBlock {
  padding: 15px 0 2px 0;
}
.sprt_questions-communication {
  padding: 24px 0px 0 2px;
}
.sSpecial {
  margin-top: 65px;
  padding-bottom: 156px;
}
.sSpecial-link {
  top: 8px;
}
.sprt--initial .sBanner {
  margin-top: 43px;
}
.sBanner-disclaimer {
  margin-left: 0px;
}
.sBanner-icon {
  font-size: 12px;
  padding-right: 2px;
}

.sprt_support-title {
  color: #212121;
}
/* end overwritten */

.sprt_support-count--big {
  vertical-align: middle;
  margin: -6px 0px 0 14px;
  font-size: 22px;
}
.sprt_support-answers {
  margin-top: 30px;
}


.sAnswer-header {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #212121;
  border-bottom: 1px solid #EEEEEE;
  padding: 13px 31px 28px;
  line-height: 22px;
  position: relative;
  padding-right: 150px;
  cursor: pointer;
  transition: background-color 0.1s;
}
.sAnswer-header:hover {
  border-color: #60A4FE;
}
.sAnswer-header:after {
    content: "";
    width:10px;
    height:10px;
    border-left:2px solid rgba(114,114,114, 0.3);
    border-bottom:2px solid rgba(114,114,114, 0.3);
    transform: rotate(-45deg);
    position: absolute;
    top: 40%;
    right: 23px;
    transition: transform 0.3s;
}
.sAnswer.is-active .sAnswer-header:after {
  transform: rotate(135deg);
  transition: transform 0.3s
}
.sAnswer.is-active .sAnswer-header {
  background-color: #F9F9F8;
  line-height: 22px;
  transition: background-color 0.1s;
}
.sAnswer-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  padding-left: 31px;
  padding-right: 31px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(114,114,114);
  line-height: 24px;
  transition: max-height 0.3s, padding 0.3s;
}
.sAnswer.is-active .sAnswer-content {
  max-height: 2000px;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: max-height 0.4s ease-out, padding 0.4s ease-out;
}
.sprt_support-answer ul {
  padding: 2px 0 26px 0;
}
.sprt_support-answer li {
  padding: 15px 0 0 12px;
  position: relative;
}
.sprt_support-answer li:before {
  content: "–";
  position: absolute;
  left: 0;
  top: 16px;
}
